<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>新規会員登録が完了しました。</h1>
    <div style="font-size: 14px;padding:16px;background-color: #DFDFDF;margin:10px 0;width:100%;">
      氏名…<%= @user.name %>(<%= @user.year %>年度入会)<br>
      アドレス…<%= @user.email %>
    </div><br>
    管理者が承認を行ったのち、全ての機能が利用可能になります。登録してしばらく承認されない場合、管理者に問い合わせてください。<br><br><br>
    <a href="htpps://scsportal.herokuapp.com" style="padding:16px;background-color:salmon;color:white;font-weight:bold;">Portalサイトへ</a>
  </body>
</html>
