

.main-wrapper-admin{
  padding-top: 50px;
  padding-left: 0px;
  width: 100%;
  height: 1000px;
  background-color: rgba(200, 200, 200, 0.7);
}
.title-wrapper{
  padding: 1px;
  height: 200px;
  background-image: url('db.jpg');
  text-align: center;
  background-size: cover;
}
.title-word{
  color: #fff;
  opacity: 0.7;
  margin-top: 120px;
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 45px;
}

.menu-box{
  width: 25%;
  height: 170px;
  text-align: center;
  float: left;
}
.menu-box p{
  font-size: 12px;
  display: block;
  padding-bottom: 5px;
}
.content-box{
  background-color: #fff;
  margin: 20px 5px 5px 5px;
  height: 120px;
}
.menu-box :hover{
  background-color: lightgray;
  transition: all 300ms ;
}
.content-img{
  height: 80px;
  display: block;
  margin-top: 5px;
  margin-left: 4px;
  margin-right: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22%;
  opacity: 0.56;
  border-top: 10px;
}
#user-img{
  background-image: url('manicon.png');
}
#band-img{
  background-image: url('usericon.png');
}
#form-img{
  background-image: url('formicon.png');
}
#mic-img{
  background-image: url('micicon.png');
}
#room-img{
  background-image: url('dooricon.png');
}
#info-img{
  background-image: url('infoicon.png');
}
@media (max-width: 800px){
  .menu-box{
    width: 50%;
  }
}


/*ユーザー管理画面*/


.database-users-wrapper{
  margin-top: 50px;
  background-color: #DDD;
}
.database-users-wrapper table{
  margin: 90px auto;
  border-collapse: collapse;
}
.database-users-wrapper th{
  font-size: 12.8px;
  padding: 7px 10px;
  border: 0.3px solid lightgray;
  font-weight: normal;
}
.database-users-wrapper thead th{
  font-weight: bold;
}
.user-show-description{
  padding-top: 20px;
  text-align: center;
}
.user-show-description h1{
  font-weight: normal;
}
.user-description-box{
  font-weight: normal;
  font-size: 13px;
}
.user-edit{
  font-size: 11px;
  border: solid 1px ;
  margin: 2px;
  background-color: lightgray;
  padding: 0px 10px;
}
.modal{
  position: absolute;
  height: 250px;
  background-color: rgba(255, 200, 200, 0.8);
  top: 200px;
  right: 300px;
  left: 300px;
  margin: 0px auto;
  z-index: 999;
  display: none;
  padding: 0 10%;
}
.modal-close{
  position: absolute;
  height: 40px;
  width: 40px;
  right: 0;
  text-align: center;
  font-size: 30px;
}
.modal-title{
  font-size: 20px;
  width: 100%;
  padding: 10px;
  text-align: center;
}
.modal-select select{
  width: 100%;
  height: 40px;
  background-color: #fff;
}
.authchange-submit-btn{
  height: 40px;
  background-color: salmon;
  border: none;
  width: 100%;
}
.user-display-grid{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 50px 100px;
  grid-gap: 5px;
}
.user-display{
  overflow: auto;
  background-color: #fff;
}
.user-display-inner{
  margin: 10px 20px;
  overflow: auto;

}
.user-display-basic{
  height: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.user-display-name{
  font-size: 26px;
  height: 100%;
  grid-row: 1 / 3;
}
.user-display-univ, .user-display-year{
  font-size: 12px;
  height: 50%;
  color: #555;
}
.user-display-contact{
  width: 100%;
  margin: 5px 0px;
  font-size: 14px;
}
.user-display i{
  margin: 0 15px;
  font-size: 16px;
}
.user-display-authority{
  font-size: 14px;
}
.approve-button{
  overflow: auto;
  display: block;
  padding: 5px;
}
@media (max-width: 900px){
	.user-display-grid{
		grid-template-columnsm 50% 50%;
	}
}
@media only screen and (min-device-width: 200px) and (max-device-width: 700px){
  .user-display-grid{
    grid-template-columns: 100%;
    padding: 5px;
  }
  .modal{
  position: absolute;
  height: 250px;
  background-color: #ffd;
  box-shadow: 5px 5px 5px 4px #ddd;
  top: 150px;
  right: 10px;
  left: 10px;
  margin: 0px auto;
  z-index: 999;
  display: none;
}
}
/* マイク練管理画面 */

.mic-title{
  margin: auto;
  padding-top: 20px;
  text-align: center;
  font-weight: normal;
  color: #66808f;
}
.mic-title-box{
  margin: 5px;
  border: solid 8px #66808F;
}
.to-mic-room{
  font-size: 20px;
  padding: 16px;
  border: solid 5px salmon;
  background-color: white;
  margin: 20px;
}
.to-mic-room:hover{
  background-color: salmon;
  color: white;
  transition: 300ms ease;
}
.mic-admin-wrapper{
  margin-top: 50px;
	padding:16px;
}
.mic-date{
  font-size: 24px;
	padding:16px;
  background-color:#333340;
  color: white;
}
.mic-time{
  font-size: 14px;
  padding: 8px;
  background-color: #999;
}
.mic-band{
  font-size: 28px;
  width: 100%;
  float: left;
  height: 100%;
  font-weight: bold;
}
.mic-band span{
  font-size: 16px;
  font-weight: normal;
}
.status-display{
  font-size: 12px;
  padding: 8px;
  color: #fff;
  background-color: green;
  float: left;
  margin-right: 8px;
}
.mic-content{
	border:1px solid #aaa;
	margin: 8px;
	background-color: #ccc;
	overflow:auto;
	padding:8px;
}
.mic-content input[type="text"]{
  width: 100%;
  float: left;
  height: 40px;
  border: none;
  -webkit-appearance: none;
}
.mic-content select{
  width: 100%;
  height: 100%;
  float: left;
  border: 1px dotted #ccc;
  margin: 0;
  height: 40px;
  padding: 0;
  margin: 10px 0;
}
.mic-content input[type="submit"]{
  height: 100%;
  background-color: salmon;
  color: #fff;
  border: none;
  width: 100%;
  height: 40px;
  position: relative;

}
.mic-content input,select{
  margin: 8px 0;
}
.mic-description{
  padding: 16px;
  font-size: 13px;
  background-color: #ddd;
  margin: 10px 0;
}

/*音響掲示板*/
.mic-approvedlist-title{
  margin: auto;
  padding-top: 20px;
  text-align: center;
  font-weight: normal;
  color: #66808f;
}
.mic-approvedlist-title-box{
  margin: 5px;
  border: solid 8px #66808F;
}
.mic-approvedlist-admin-wrapper{
  margin-top: 50px;
  padding:16px;
}
.mic-approvedlist-date{
  font-size: 24px;
  padding:16px;
  background-color:#333340;
  color: white;
}
.mic-approvedlist-time{
  font-size: 14px;
  padding: 8px;
  background-color: #999;
}
.mic-approvedlist-band{
  font-size: 28px;
  width: 100%;
  float: left;
  height: 100%;
  font-weight: bold;
}
.mic-approvedlist-band span{
  font-size: 16px;
  font-weight: normal;
}
.mic-approvedlist-content{
  border:1px solid #aaa;
  margin: 8px;
  background-color: #ccc;
  overflow:auto;
  padding:8px;
}
.mic-approvedlist-content input[type="text"]{
  width: 100%;
  float: left;
  height: 40px;
  border: none;
  -webkit-appearance: none;
}
.mic-approvedlist-content select{
  width: 100%;
  height: 100%;
  float: left;
  border: 1px dotted #ccc;
  margin: 0;
  height: 40px;
  padding: 0;
  margin: 10px 0;
}
.mic-approvedlist-content input[type="submit"]{
  height: 100%;
  background-color: salmon;
  color: #fff;
  border: none;
  width: 100%;
  height: 40px;
  position: relative;

}
.mic-approvedlist-content input,select{
  margin: 8px 0;
}
.mic-approvedlist-description{
  padding: 16px;
  font-size: 13px;
  background-color: #ddd;
  margin: 10px 0;
}


/* バンド管理 */

.band-show-wrapper{
  margin-top: 55px;
}
.band-show-inner{
  margin: 0 80px;
  background-color: #EEE;
}
.band-show-title{
  font-size: 25px;
  font-weight: bold;
  margin:  10px 0;
}
.band-show-description{
  font-size: 14px;
}
.band-show-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.band-show-content{
  background-color: white;
  margin: 10px;
  padding: 5px;
  position: relative;
}
.band-name{
  font-size: 25px;
  width: 100%;
  height: 30px;
}
.band-edit{
  background-color: #999;
  height: 30px;
  width: 10%;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 3px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}
.band-approve{
  height: 20px;
  width: 90px;
  text-align: center;
  padding: 2px 0 ;
  font-weight: bold;
  border-radius: 4px;
  background-color: salmon;
  font-size: 12px;
  margin-top: 10px;
}
.band-members{
  font-size: 12px;
  margin: 10px 0;
  width: 100%;

}
.band-img{
  float: left;
  width: 40%;
}
.band-description{
  font-size: 12px;
  width: 60%;
  float: left;
  padding: 5px;
}
.no-bands{
  padding: 40px;
}
@media only screen and (min-device-width: 200px) and (max-device-width: 700px){
  .band-show-inner{
    margin: 5px;
  }
  .band-show-container{
    grid-template-columns: 100%;
  }
}

/* お知らせ管理 */
.show-infos-wrapper{
  margin-top: 50px;
}
.new-info-wrapper{
  padding: 16px;
  overflow: auto;
}
.new-info-title{
  background-color: #555;
  padding: 16px;
  color: #FFF;
  margin-top: 32px;
}
.new-info-contents{
  overflow: auto;
  height: 100%;
}
.new-info-small{
  padding: 8px;
  border-bottom: dotted 1px;
}
.new-info-caution{
  padding: 16px;
  border: dotted 1px ;
  font-size: 13px;
}
.new-info-contents input:not([type="submit"]), textarea{
  width:  100%;
  border: none;
  margin: 16px 0;
  padding: 16px;
  display: block;
  background-color: #ddd;
}
.new-info-contents input[type="text"]:focus{
  background-color: #fef;
  font-size: 15px;
  transition: 200ms ease;
}
.new-info-contents input[type="submit"]{
  font-size: 16px;
  color: #fff;
  background-color: salmon;
  padding: 16px;
  margin: 16px 0;
  width: 100%;
}
.info-viewer{
  padding: 16px;
  background-color: #f5f5ff;
}

@media(max-width:600px) {
  .new-info-wrapper{
    margin-right: 5px;
    margin-left: 5px;

  }
  .new-info-wrapper h1{
    text-align: left;
  }
  .new-info-title{
    width: 100%;
    height: auto;
    border-right: none;
  }
  .new-info-contents{
    width: 100%;
    border-left: none;
    border-top: solid 1px gray;
  }
  .new-info-contents input, textarea{
    width: 100%;
  }
}

/* 企画バンド管理 */

.showtemp-wrapper{
  margin-top: 50px;
  text-align: center;
}

/* イベント管理 */

.show-event-wrap{
  margin: 0 5px;
  margin-top: 60px;
}
.event-add-wrap{
  margin: 10px ;
  padding: 16px;
  overflow: auto;
  background-color: #ccc;
}
.event-add-wrap input:not(.event-submit-btn), select{
  float: left;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
  border: none;
  border-bottom: solid 1px #9f9033;
  border-radius: 0;
  background: none;
  font-size: 14px;
  padding: 12px;
  margin: 4px 0;
  background-color: #eee;
}
.event-submit-btn{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 55px;
  margin: 10px 0;
  background-color: salmon;
  border: none;
  color: #fff;
  font-size: bold;
}
.event-input-info{
  border-bottom: dotted 1px;
  font-size: 13px;
  padding: 4px;

}
.event-add-input-box{
  width: 100%;
  margin: 10px auto;
}
.show-event-title{
  border: solid 10px #9f9033;
  margin: 10px 0;
  padding: 10px;
  color: #9f9033;
  font-size: 20px;
  font-weight: bold;
}
.event-list{
  margin: 10px;
}
.event-box{
  padding: 5px;
  margin: 5px;
  background-color: #fff;
  border: 1px solid #888;
}
.event-title{
  font-weight: bold;
  font-size: 20px;
}
.event-dt{
  font-size: 14px;
}
.cancel-btn{
}

/*   マイク練部屋登録画面  */

.mic-room-wrap{
  margin: 10px;
  margin-top: 55px;
  overflow: auto;
}
.mic-room-date{
  font-size: 20px;
  border-bottom: solid 1px #aaa;
  padding: 10px;
}
.mic-roop-time-wrap{
  padding: 10px;
}
.room-select{
  height: 45px;
  background-color: #cdd;
  border: orange;
}
#mic-room-submit{
  height: 40px;
  background-color: salmon;
  -webkit-appearance: none;
  border-radius: 10px;
  margin: 10px 5%;
  width: 90%;
}
.mic-room-current{
  padding: 16px;
  font-size: 16px;
  font-weight: bolder;
  background-color: #d4d4e9;
  margin: 16px 0;
}

.main-wrapper{
  font-family: "Hiragino Kaku Gothic ProN W6";
}
.title-container{
  height: 600px;
  float: top;
  padding-top: 80px;
  background-image: url('https://mb.api.cloud.nifty.com/2013-09-01/applications/tZQAF19Rr4FUKnoU/publicFiles/797-700x465のコピー.jpg');
  background-size: cover;  width: 100%;
  background-color: turquoise;
  z-index: 3;
  text-align: center;
}
@media(max-width: 510px){
  .title-container{
    height: 800px;
  }
  .street-corner{
    text-align: left;
  }
  .portal-site{
    text-align: left;
  }
  .header-end{
    display: none;
  }
}

.street-corner{
  font-size: 66px;
  opacity: 0.7;
  color: lightyellow;
  font-family: "Avenir";
  padding-left: 30px;
}
.street-corner:hover{
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.portal-site{
  opacity: 0.7;
  font-size: 32px;
  padding-left: 30px;
  color: lightyellow;
}
.portal-site:hover{
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.site-description{
  color: lightyellow;
  padding-left: 30px;
  opacity: 0.7;
}
.btn-login{
  background-color: coral;
  display: inline-block;
  padding: 7px 20px;
  margin-top: 20px;
  color: white;
  opacity: 0.7;
  box-shadow: 0 3px #935729;
}
.btn-login:hover{
  opacity: 1;
}
.btn-login:active{
  position: relative;
  top: 3px;
  box-shadow: none;
  transition: all 100ms ease;
}

.btn-register{
  background-color: blueviolet;
  color: white;
  display: inline-block;
  padding: 7px 20px;
  float: top;
  opacity: 0.7;
  box-shadow: 0 3px darkviolet;
}
.btn-register:hover{
  opacity: 1;
}
.btn-register:active{
  position: relative;
  top: 3px;
  box-shadow: none;
  transition: all 100ms ease;
}

/*    タイトル部分ここまで    */


.intro-wrapper{
  padding: 15px;
  height: 400px;
  background-image: url('/assets/penpaper.jpeg');
  background-color: lightsalmon;
  background-size: cover;
  color: black;
  opacity: 0.7;
}
.intro-wrapper h1{
  padding-top: 40px;
  font-size: 42px;
}
.main-wrapper-login{
  background-image: url('gakkan.jpg');
  background-size: cover;
  overflow: auto;
}
.login-wrapper{
  margin-left: 10%;
  margin-right: 10%;

  margin-top: 50px;
}
.login-content-wrapper{
  width: 100%;
  border: 1px solid gray;
  overflow: auto;
  background-color: rgba(0, 150, 200, 0.3);
  margin-bottom: 70px;
}
.login-content{
  float: left;
  height: 100%;
  padding: 5px;
}
.login-content p,a,input{
  font-size: 13px;
  display: block;
  -webkit-appearance: none;
}
.login-content p{
  color: #333333;
  display: block;
}
.login-title{
  width: 60%;
}
.login-title h1{
  padding: 20px;
  font-family: "Avenir";
  font-size: 50px;
}
.signin-box{
  width: 40%;
}


.login-input{
  height: 32px;
  float: top;
  width: 80%;
  margin-top: 5px;
}
#login-with-account{
  border-bottom: 1px solid #333333;
  padding: 5px;
}
#pass-checkbox{
  background-color: blue;
  float: left;
}
#show-pass{
  display: block;
}
.login-email-input{
  margin-top: 15px;
}
#login-btn{
  text-align: center;
  color: #fff;
  background-color: salmon;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  margin: 0 auto;
  border-style: none;
  width: 88%;
  opacity: 0.8;
}
#login-btn:hover{
  opacity: 1;
}
.btn{
  text-align: center;
  font-size: 12px;
  padding: 5px;
}
@media (max-width: 700px) {
  .login-wrapper{
    margin: 5px;
  }
  .login-content{
    width: 100%;
  }
  .login-input{
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 0;
    margin: 10px 0;
  }
}
/********** マイク練申請画面 **********/

.mic-submit-wrap{
  background-color: #fff;
}
.mic-submit-inner{
  overflow: auto;
  margin: 0 250px;
  margin-top: 55px;
}
.mic-sub-side{
  width: 240px;
  height: 100%;
  float: left;
}
.display-small-title{
  display: block;
  font-size: 15px;
  color: #666;
  padding: 10px;
  padding-top: 80px;
}
.mic-sub-side-title{
  border-top: solid 1px #999;
  border-bottom: solid 1px #999;
  padding: 20px 10px;
  color: #55E;
  font-size: 18px;
  font-weight: bold;
}
.mic-sub-side-category{
  padding: 5px 10px;
  font-weight: bold;
  font-size: 12px;
  background-color: #aaa;
}
.mic-sub-side-content{
  padding: 10px 10px;
  border-bottom: solid 1px #999;
  font-size: 14px;
}
.mic-sub-side-content:hover{
  color: blue;
}
.mic-sub-main{
  float: left;
  width: auto;
  padding: 80px;
}
.mic-form-errors{
  float: top;
  width: 60%;
  color: red;
  border:  1px solid red;
  font-size: 13px;
  padding: 6px;
  margin: 20px 0;
}
.mic-sub-main select{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  -webkit-appearance: none;
  border: none;
}
#mic-date-input{
  -webkit-appearance: none;
  height: 40px;
  background: none;
  border: none;
  border-bottom: solid 1px #777;
  font-weight: bold;
  font-size: 16px;
  width: 500px;
  padding: 15px 0 ;
  margin: 20px 0;
}
.mic-time-picker{
  display: grid;
  grid-template-columns: 50% 50%;
}
.mic-time-pick{
  font-size: 15px;
  font-family: sans-serif;
  padding: 8px;
  margin: 5px;
  border: 6px solid #99F;
}
.mic-time-input{
  display: none;
}
.mic-time-input:hover + label {
  background: #DDF;
  transition:  300ms ease;
}
.mic-time-input:checked + label {
  font-weight: bold;
  background: #99F;
  color: white;
  transition:  100ms ease;
}
#mic-submit-btn{
  -webkit-appearance: none;
  border: none;
  background-color: salmon;
  margin: 24px auto;
  padding: 16px;
  width: 100%;
}
.mic-sub-form select{
  float: top;
  border: dotted 1px #000;
  border-radius: 4px;
  display: block;
}
.mic-sub-form-content{
  width: 100%;
  float: top;
}
@media (max-width: 1400px){
  .mic-submit-inner{
    margin: 0 10px;
  }
  .mic-sub-side{
    height: auto;
    width: 100%;
  }
  .mic-sub-main{
    float: top;
    width: 100%;
    padding: 5px;
    margin-top: 30px;
    background-color: #fefefe;
  }
  #mic-date-input{
    width: 100%;
  }
  .mic-sub-form select{

  }
}
@media only screen and (min-device-width:200px) and (max-device-width:1125px){
  .mic-submit-inner{
    margin: 0 10px;
  }
  .mic-sub-side{
    height: auto;
    width: 100%;
  }
  .mic-sub-main{
    float: top;
    width: 100%;
    padding: 5px;
    margin-top: 30px;
    background-color: #fefefe;
  }
  #mic-date-input{
    width: 100%;
  }
  .mic-sub-form select{

  }
}

.mic-list-wrap{
  overflow: auto;
  background-color: #fff;
}
.mic-list-inner{
  margin: 50px 250px;
}
.mic-list-contents{
  width: 100%;
  overflow: auto;
  box-shadow: 3px 3px 10px #666;
  margin: 15px 0;
}
.mic-list-content-title{
  width: 50%;
}
.mic-list-content{
  float: left;
  padding: 10px 15px;
  width: 33%;
}
.mic-list-content-title{
  font-size: 18px;
  font-weight: bold;
}
@media only screen and (min-device-width:200px) and (max-device-width:700px){
  .mic-list-inner{
    margin: 5px;
  }
}
/********** 正規バンド申請画面 **********/

.to-temporal-btn{
  padding: 16px;
  background-color: #fff;
  margin: 15px;
  border: darkgreen solid 4px;
  border-radius: 8px;
}
.to-temporal-btn:hover{
  background-color: darkgreen;
  color: white;
  transition: 300ms ease;

}
.to-temporal-btn:active{
  background-color: rgba(0, 0, 0, 0.8);
  transition: 100ms ease;
}
.reg-band-sub-wrapper{
  margin-top: 50px;
  padding: 10px 0;
}
.reg-band-sub-wrapper h1{
  text-align: center;
}
.reg-band-sub-form{
  padding: 10px 0;
  width: 85%;
  margin: auto;
  background-color: #E9E9E9;
}
.reg-form{
  width: 100%;
  padding: 16px;
}
.reg-form-content{
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid gray;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #666;
}
.reg-form-content-small{
  width: 100%;
  padding: 4px;
  border-bottom: dotted 1px gray;
  font-size: 13px;
}
.reg-form input,textarea{
  width: 100%;
  margin: 16px 0;
  padding: 8px;
  font-size: 14px;
}
.reg-form textarea{
  height: 150px;
}
.reg-form input[type="text"], input[type="file"]{
  border: none;
  border-bottom: solid 1px #aaa;
  padding: 16px;
  font-size: 12px;
  background-color: rgba(170, 200, 255, 0.4);
}
.reg-form input:focus{
  border-bottom: solid 1px salmon;
  background-color: #fff;
  transition: 300ms ease;
  font-size: 14px;
}
.reg-caution{
  color: #B00;
  padding: 0 16px;
}
.reg-submit:hover{
  color: salmon;
  background-color: transparent;
  transition: 200ms ease;
  }
.reg-submit{
  font-weight: bold;
  font-size: 16px;
  background-color: salmon;
  border: solid 5px salmon;
  color: white;
  border-radius: 4px;
}
@media(max-width:600px){
  .reg-band-form-title{
    font-size: 6px;
    width: 85px;
  }
  .reg-band-sub-form table{
    width: 100%;
  }
  .reg-band-sub-form{
    width: 95%;
  }
}
#reg-band-send{
  border-style: none;
  margin: 8px auto;
  background-color: darksalmon;
  height: 40px;
  color: white;
  border-radius: 30px;
}


/********** 企画バンド申請画面 **********/


.temporal-wrapper{
  margin-top: 50px;
  background-color: white;
  overflow: auto;
  text-align: center;
  padding: 16px;
}

.temporal-wrapper h1{
  font-family: "Avenir";
  font-weight: normal;
  color: black;
}
.description-tem{
  font-size: 12px;
}

.tem-send-btn{
  width:  100%;
  background-color: salmon;
  padding: 16px;
  margin: 30px auto;
  color: white;
  border-style: none;
  text-align: center;
  font-size: 16px;
}
.tem-send-btn:hover{
  background-color: indianred;
  transition: 400ms ease;
}
.tem-form{
  padding: 16px;
  text-align: left;
}
.tem-form-content{
  padding: 16px;
  font-size: 18px;
  background-color: #555;
  color: #fff;
  font-weight: bold;
}
.tem-form-content-small{
  border-bottom: solid 1px #cecece;
  font-size: 13px;
  padding: 4px;
  margin: 8px 0;
}
.tem-form-select-wrap{
  overflow: auto;
}
.tem-form input,.tem-form select{
  padding: 16px;
  background-color: #bcc;
  border: none;
  border-bottom: 1px solid darkblue;
  width: 100%;
}
.tem-form input:focus,.tem-form select:focus{
  background-color: #cff;
  transition: 200ms ease;
  font-size: 15px;
}
.tem-form select{
  margin: 10px 0;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 50px;
}


/********** コメント画面 **********/


.comment-wrapper{
  margin-top: 50px;
  background-color: #fff;
}
.comment-inner{
  margin: 100px 200px;
  overflow: auto;
}
.comment-side{
  width: 300px;
  float: left;
  height: 100%;
}
.comment-side-title{
  font-size: 20px;
  font-weight: bold;
  color: #939;
  padding: 15px 5px;
}
.comment-side-category{
  background-color: #999;
  padding: 5px;
  font-size: 13px;
  font-weight: bold;
}
.comment-side-content{
  padding: 15px 5px;
  border-bottom: solid 1px #666;
}
.comment-side-content:hover{
  color: #939;
}
.comment-main{
  width: 70%;
  float: left;
  overflow: auto;
  padding: 8px;
}
.comment-main h1{
  padding: 8px;
  width: 100%;
}
.com-cof-content{
  width: 100%;
  padding: 5px;
}
.com-cof-input{
  width: 100%;
  overflow: hidden;
}
.com-cof-input textarea{
  height: 240px;
  width: 100%;
  padding: 16px;
}
.textarea-comcof{
  height: 220px;
}
.comment-main select{
  width: 100%;
  padding: 8px;
}
.sent-comment{
  border: dotted 1px;
  margin: 8px 0;
}

#com-submit-btn{
  background-color: salmon;
  border: none;
  margin: 16px 0;
  text-align: center;
  font-size: 16px;
  padding: 16px;
  border-radius: 4px;
  width: 100%;
  -webkit-appearance: none;
}
.sent-comment-object{
  font-weight: bold;
  padding: 5px;
}
.sent-comment-content{
  font-size: 13px;
  padding: 5px;
}
.comment-reply-container{
  padding: 8px;
  margin: 8px 0;
  border: dotted 1px #9f9f9f;
  margin-left: 20px;
  font-size: 13px;
  overflow: auto;
}
.reply-image{
  height: 100%;
  overflow: auto;
  float: left;
  text-align: center;

}
.reply-content{
  float: left;
  margin-left: 16px;
  height: 100%;
  width: 90%;
}
.reply-text{
  width: 100%;
  padding: 8px;
}
.reply-text textarea{
  width: 100%;
  height: 160px;
}
.reply-send-btn{
  width: 100%;
  background-color: salmon;
  border: 1px solid salmon;
  color: #fff;
  text-align: center;
  padding:16px;
  font-weight: bold;
  font-size: 16px;
}
.reply-send-btn:hover{
  background-color: #ddd;
  transition: 200ms ease;
  color: salmon;
}
.comment-conf-content{
  font-size: 25px;
  padding: 16px;
  border: dotted 1px blue;
  margin: 8px 0;
  width: 100%;
}
.comment-conf-content:hover{
  background-color: #ddd;
  transition: 200ms ease;
}
@media(max-width: 900px){
  .comment-inner{
    margin: 0;
  }
  .comment-side{
    width: 100%;
  }
  .comment-main{
    width: 100%;
  }
}
@media only screen and (min-device-width:200px) and (max-device-width:700px){
  .comment-inner{
    margin: 0;
  }
  .comment-side{
    width: 100%;
  }
  .comment-main{
    width: 100%;
  }
}



/********** 部屋利用 **********/

.room-wrapper{
  margin-top: 50px;
  padding: 16px;
}
.room-title{
  margin: auto;
  padding-top: 20px;
  text-align: center;
  font-weight: normal;
  color: #66808f;
}
.room-title-box{
  margin: 5px;
  border: solid 8px #66808F;
}
.error-messages{
  color: red;
  border: solid 2px red;
  font-size: 13px;
  padding: 20px 5px;
  margin-top: 10px;
}

.room-about{
  font-size: 13px;
  color: #66808f;
  padding: 20px 0;
}
.room-current{
  border: solid 1px #66808F;
  color: #66808F;
  font-size: 15px;
  padding: 4px;
}
.room-current a{
  display: block;
  float: right;
}
.rcurrent-title{
  padding: 3px 0;
  font-size: 18px;
  font-weight: bold;
}
.room-radio{
  display: none;
}
.room-contents-container{
  margin: 5px;
}
.room-content-wrap{
  overflow: auto;
}
.room-content-title{
  color: #66808F;
  font-size: 13px;
  margin: 15px 0;
  border-bottom:  solid 1px #66808F;
}
.room-content-wrap label{
  display: block;
  height: 40px;
  text-align: center;
  padding: 5px;
  background-color: #66808F;
  color: white;
  width: 49%;
  margin: 1px;
  float: left;
}
.room-radio:checked + label {
  background: #77D0DE;
  color: yellow;
  transition:  100ms ease;
}
#today {
  width: 98.5%;
}
.band-select{
  height: 50px;
  background-color: #44707f;
  color: white;
  font-size: 14px;
  width: 100%;
  margin: 0;
  padding: 16px;
  margin: 10px 0;

}
#room-submit{
  -webkit-appearance: none;
  font-size: 16px;
  color: white;
  width: 100%;
  background-color: salmon;
  margin: 16px 0;
  border: none;
  padding: 16px;
}


/* エントリー管理画面*/
.entry-inner{
  margin: 55px 200px;
  margin-bottom: 0;
  overflow: auto;
  background-color: #efefef;
}
.entry-sidemenu{
  width: 300px;
  overflow: auto;
  float: left;
  padding: 8px;
}
.entry-side-title{
  font-size: 20px;
  font-weight: bold;
  padding: 16px;
  width: 100%;
}
.entry-side-sub{
  padding: 8px;
  font-size: 13px;
  background-color: #aaa;
}
.entry-side-content{
  padding: 16px;
  border-bottom: 1px solid #555;
  font-size: 13px;
}
.entry-main{
  padding: 8px;
  width: 60%;
  float: left;
  overflow: auto;
}
.entry-menu-description{
  overflow: auto;
  background-color: #eee;
  font-size: 13px;
  padding: 16px;
}
.entry-menu-content{
  padding: 16px;
  margin: 8px 0;
  font-size: 20px;
  font-weight: bold;
  border: 4px outset #cff;
}
.entry-menu-content:active{
  border-style: inset;
}
.entry-form{
  padding: 8px;
}
.entry-form textarea{
  width: 100%;
  height: 100px;
}
.entry-form input[type="submit"]{
  background-color: salmon;
  width: 100%;
  border: none;
  color: #fff;
  height: 55px;
}
.entry-form-content{
  font-size: 13px;
  border-bottom: dotted 1px ;
}
.entry-form-content-wrap{
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 4px;
}
.entry-form input{
  background-color: #fafafa;
  float: left;
  height: 40px;
  margin: 8px 0;
  border: none;
  border-bottom: solid 1px salmon;
  display: block;
}


.mc-time{
  background-color: transparent;
  width: 100%;
}
.entry-description{
  padding: 16px;
  font-size: 12px;
  background-color: #e0e0e0;
}
.entry-list-content{
  margin: 8px 0;
  padding: 16px;
  overflow: auto;
  width: 100%;
  border: 1px solid #BBB;
  background-color: #fff;
}
.entry-list-title{
  font-size: 22px;
  font-weight: bold;
}
.entry-list-title p{
  display: inline;
  padding: 0 16px;
  font-size: 14px;
  font-weight: normal;
}
.entry-list-title span{
  font-weight: normal;
  font-size: 18px;
  padding: 0 8px ;
}
.error-message{
  font-size: 14px;
  background-color: #d00;
  color: #fff;
  padding: 16px;
  border: solid 1px;
}
@media(max-width: 1100px){
  .entry-inner{
    margin: 55px 0;
  }
  .entry-sidemenu{
    width: 100%;
  }
  .entry-main{
    width: 100%;
  }
}
.signup-wrapper{
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  text-align: center;
  color: white;
  overflow: auto;
}
.signup-wrapper h1{
  padding-top:50px;
}

.form-wrapper{
  overflow: auto;
}
.signup-form{
  overflow: auto;
  margin: 16px;
  padding: 16px;
  background-color: #ccc;
  text-align: left;
}
.signup-content{
  background-color: #666;
  color: white;
  padding: 16px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}
.signup-content-small{
  padding: 4px;
  border-bottom: 1px dotted gray;
  color: #000;
  font-size: 12px;
}
.signup-form input:not([type="submit"]){
  margin: 16px 0;
  padding: 16px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
}
.signup-form input:focus{
  background-color: #fff;
  transition: 200ms ease;
}
.signup-form span{
  color: #811;
  padding-left: 16px;
}
.signup-rule{
  padding: 16px;
  color: #911;
  border: dotted 1px;
  font-size: 13px;
}
.signup-btn{
  padding: 16px;
  margin: 16px 0;
  width: 100%;
  color: #fff;
  background-color: salmon;
  font-size: 20px;
}
@media (max-width: 350px){


}



/* ここから show.html.erb */


.user-show-wrapper{
  background-color: sandybrown;
  height: auto;
  z-index: 1;
  margin-top: 50px;
  background-image: url('https://mb.api.cloud.nifty.com/2013-09-01/applications/tZQAF19Rr4FUKnoU/publicFiles/797-700x465のコピー.jpg');
  background-size: cover;
}
.user-show-higher-wrapper{
  z-index: 2;
}
.user-title{
  text-align: left;
  font-weight: bold;
  font-family: "Avenir";
  padding: 16px;
  padding-top: 40px;
  font-size: 70px;
  overflow: hidden;
  color: white;
}
.user-sub-title{
  text-align: center;
  font-size: 20px;
  color: white;
}
.user-show-box{
  border: 1px solid ;
  height: auto;
  padding: 16px;
  margin: 20px;
  background-color: #333;
  color: #fff;
}
.user-show-image{
  width: 100px;
  height: 100%;
  background-image: url('manicon.png');
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}
.user-show-content{
  text-align: left;
}
.user-show-logout{
  padding: 8px;
  margin-top: 8px;
  border: solid 5px darksalmon;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
}
.user-show-logout:hover{
  background-color: white;
  transition: 200ms ease;
}
.user-show-logout:active{
  background-color: darksalmon;
  color: white;
  transition: 100ms ease;
}
.logout-link{
  color: #000;
  font-weight: bold;
}
.user-show-content-name{
  font-size: 20px;
  text-align: left;
}

.user-show-informations{
  margin: auto;
  font-size: 14px;
  text-align: center;
}

.user-menu-wrapper{
  margin: 0 16px;
  height: auto;
  padding-bottom: 16px;
}
.user-menu-title{
  font-size: 30px;
  font-family: "Hiragino Kaku Gothic ProN";
  font-weight: lighter;
  color: white;
  padding-left: 30px;
}
.user-menu-content{
  overflow: auto;
  padding: 16px;
  margin: 8px;
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
  border: solid 4px rgba(0,0,0,0.5);
  border-radius: 8px;
  font-weight: bold;
}
.user-menu-content:hover{
  background-color: rgba(255, 255, 255, 0.9);
  transition: 300ms ease;
}
.user-menu-content:active{
  background-color: rgba(255, 255, 255, 1);
  transition: 100ms ease;
}
.menu-content-img{
  width: 80px;
  height: 90%;
  float: left;
}
.menu-content-title{
  font-size: 22px;
  opacity: 0.65;
}
.menu-content-description{
  font-size: 12px;
  opacity: 0.6;
}
.notice-title{
  border-bottom: solid 1px ;
  margin-bottom: 20px;
}
.notice-wrapper{
  color: white;
  margin: 20px;
}
.notice-content{
  padding: 5px 40px;
  font-size: 14px;
  font-weight: lighter;
  background-color: rgba(4,4,4,0.2);
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

*{
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

/*      ヘッダーここから    */
header{
  background-color: #00ced1;
  color: #fff;
  margin-top: 0 auto;
  height: 55px;
  top: 0;
  z-index: 1000;
  position: fixed;
  width:100%;
}
a {
  text-decoration: none;
}
input :not(input[type="checkbox"]){
  -webkit-appearance: none;
}
.blured{
  filter: brightness(50%);
  transition: 300ms ease-in-out;
}
.header-title{
  font-family: "Avenir next";
  font-size: 30px;
  padding: 5px 20px;
  height: 95%;
  color: white;
}

#title:hover{
  background-color:lightseagreen;
  transition: all 300ms ease;
}
.sidemenu-open-btn{
  position: absolute;
  top: 0;
  height: 100%;
  left: 80px;
  width: 55px;
  padding: 10px 15px;
  font-size: 25px;
}
.header-left{
  position: absolute;
  overflow: hidden;
  margin: 0 auto;
  height: 100%;
  right: 20%;
  left: 20%;
  text-align: center;
}
/*画面サイズが小さくなったらheader-rightは非表示にする*/
.header-right{
  width: 80%;
}
#sidemenu{
  position: fixed;
  overflow: auto;
  top: 55px;
  left: 0px;
  width: 300px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  height: 100%;
}
.side-user{
  width: 100%;
  color: #999;
  border-bottom: solid 1px #999;
  padding: 10px;
}
.side-user-img{
  float: left;
  height: 100%;
  width: 80px;
  font-size: 30px;
  padding: 15px;
}
.side-user-name{
  padding: 5px;
  font-size: 18px;
}
.side-user-other{
  font-size: 12px;
}
.sidemenu-category{
  background-color: #999;
  color: #222;
  height: 25px;
  width: 100%;
  font-size: 13px;
  padding: 2px 5px;
  font-weight: bold;
}
.sidemenu-content{
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #999;
  color: #bbb;
}
.sidemenu-content:hover{
  color: #222;
  background-color: #bbb;
  transition: 300ms ease;
}
.side-content-img{
  height: 100%;
  width: 80px;
  float: left;
  font-size: 30px;
  padding: 10px 15px;
  text-align: center;
}
.side-content-title{
  float: left;
  height: 100%;
  padding: 15px 0;
  font-size: 16px;
  font-weight: lighter;
}


@media(max-width: 920px){
  .header-right{
    display: none;
  }
  .header-end{
    display: block;
  }
  .sidemenu-open-btn{
    left: 5px;
  }
  .sidemenu-content{
    height: 45px;
  }
  .side-content-title{
    padding: 10px;
    font-size: 12px;
  }
  .side-content-img {
    font-size: 20px;
    padding: 10px;
  }
}
.button-wrapper{
  height: 50px;
  width: 100%;
  display: block;
  float: left;
}
header .menu-button{
  display: block;
  margin:  0 10px;
  padding: 0 0;
  height: 100%;
  font-size: 13px;
  z-index: 10;
}
header .menu-button:hover{
  background-color: lightseagreen;
  transition: all 500ms;
}
header li {
  display: block;
  list-style: none;
  float: left;
  padding: 0px 14px;
  height: 100%;
  z-index: 9;
}
.header-end{
  float: right;
  display: block;
  height: 50px;
  width: 100px;
  }
.header-end a{
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
  color: #fff;
  vertical-align: middle;
  z-index: 10;
}
header .btn:hover{
  background-color: lightseagreen;
  transition: all 500ms;
}
/*      ヘッダーここまで    */
.flash-notice{
  float: top;
  margin-top: 50px;
  text-align: center;
  width: 100%;
  background-color: #FA8C1F;
  color: white;
  font-size: 13px;
  padding: 8px;
}

footer{
  height: 250px;
  background-color: #44444F;
}
.copyright{
  width: 100%;
  padding: 32px 16px;
  font-size: 16px;
  color: #bbb;
  font-weight: lighter;
  text-align: center;
}
.copyright span{
  font-size: 12px;
}
