<div class="showtemp-wrapper">
  <h1>企画バンド管理</h1>
  <div class="showtemp-contents">
	<% TemporalBand.all.pluck('event').uniq.each do |event|%>
	<div class="showtemp-event"><%= event %></div>
    <% TemporalBand.where(event: event).each do |band|%>
      <div class="showtemp-content">
        <p style="font-size:20px;font-weight:bold;display:inline;"><%= band.name %></p><br>
        <%= band.event%><br>
        メンバー:<%= band.members.join(",") %><br>
      </div>
    <% end %>
	<% end %>
  </div>
</div>
