<div class="showtemp-wrapper">
  <h1>企画バンド管理</h1>
  <div class="showtemp-contents">
    <% TemporalBand.all.each do |band|%>
      <div class="showtemp-content">
        <p style="font-size:20px;font-weight:bold;display:inline;"><%= band.name %></p><br>
        <%= band.event%><br>
        メンバー:<%= band.members.join(",") %><br>
      </div>
    <% end %>
  </div>
</div>
