<div class="showtemp-wrapper">
  <h1>企画バンド管理</h1>
  <div class="showtemp-contents">
	<% @events.each do |event|%>
	<div class="showtemp-event"><%= event.name %></div>
    <% event.bands.each do |band|%>
      <div class="showtemp-content">
        <p style="font-size:20px;font-weight:bold;display:inline;"><%= band.name %></p><br>

      </div>
    <% end %>
	<% end %>
  </div>
</div>
