<div class="band-show-wrapper">
  <div class="band-show-inner">
    <h1>正規申請中バンド</h1>
    <div class="band-show-description">
      現在正規申請中のバンドです。バンド名をタップして詳細ページで承認作業を行ってください。
    </div>
    <div class="band-show-container">
    <% if @bands.count > 0 %>
    <table>
    <% @bands.each do |band|%>
      <tr>
        <td class="name"><%= link_to(band.name,'/database/bands/detail/' + band.id.to_s) %></td>
        <td><div class="status"> <%= "申請中" unless band.registration%><%= "承認済" if band.registration %></div></td>
      </tr>
    <% end %>
    </table>
    <% else %>
      <div class="no-bands">   現在申請中のバンドはありません。</div>
    <% end %>
    </div>
  </div>
</div>
