<div class="comment-wrapper">
  <div class="comment-inner">
    <div class="comment-side">
      <div class="comment-side-title">コメント/講評送信画面</div>
      <div class="comment-side-category">メニュー
      </div>
      <div class="comment-side-content"><a href="/submit/comment/conference">総会コメント</a></div>
      <div class="comment-side-content"><a href="/submit/comment/performance">オーディション講評など</a></div>
      <div class="comment-side-content"><a href="/submit/comment/list">送信コメント一覧</a></div>
      <div class="comment-side-content"><a href="/submit/comment/all">総会コメントを見る</a></div>
    </div>
    <div class="comment-main">
    <%= form_tag('/submit/comment/conference/send') do %>
      <h1>総会へのコメント送信</h1>
			      <div class="error-messages"><%@comment.errors.full_messages.each do |message|%><%=message%><br><%end%></div>
      <div class="com-cof-content">総会を選択してください</div>
      <div class="com-cof-input">
        <select name="atevent" class="event-select">
          <option value="" disabled selected>選択してください</option>
          <% @conferences.each do |conference|%>
            <option value="<%= conference.name %>"><%= conference.name %></option>
          <% end %>
        </select>
      </div>
      <div class="com-cof-content">コメント先を選択してください</div>
        <div class="com-cof-input">
          <select name="atcontent" class="content-select">
          </select>
        </div>
      <div class="com-cof-content">コメント内容を入力してください</div>
      <div class="com-cof-input textarea-comcof"><textarea name="comment" placeholder="コメントを入力"></textarea></div>

      <input type="checkbox" style="display:inline" id="com-check-publish" name="publish">
      コメントを非公開にしますか？
      <input type="submit" name="" id="com-submit-btn">
      <% end %>
    </div>
  </div>
</div>
