<div class="reg-band-sub-wrapper">
<h1>正規バンド申請</h1>

  <div class="reg-band-sub-form">
    <div class="error-reg">
      <% @band.errors.full_messages do |message| %>
        <%= message %><br>
      <% end %>
    </div>
    <%= link_to('企画バンドの申請はこちら','/submit/temporal-band',{:class => "to-temporal-btn"})%>
    <%= form_tag("/submit/regular-band/send",{multipart: true}) do %>
     <div class="reg-form">
       <div class="reg-form-content">バンド名</div>
       <input type="text" name="name" placeholder="バンド名を入力して下さい">
       <div class="reg-form-content">PA・メンバー</div>
       <div class="reg-form-content-small">PA<span class="caution"> ※必須</span></div>
       <input type="text" name="pa" placeholder="氏名を入力して下さい">
       <div class="reg-form-content-small">バンドメンバー①<span class="reg-caution"> ※必須</span></div>
       <input type="text" name="member1" placeholder="氏名を入力して下さい">
       <div class="reg-form-content-small">バンドメンバー②<span class="reg-caution"> ※必須</span></div>
       <input type="text" name="member2" placeholder="氏名を入力して下さい">
       <div class="reg-form-content-small">バンドメンバー③</div>
       <input type="text" name="member3" placeholder="氏名を入力して下さい">
       <div class="reg-form-content-small">バンドメンバー④</div>
       <input type="text" name="member4" placeholder="氏名を入力して下さい">
       <div class="reg-form-content-small">バンドメンバー⑤</div>
       <input type="text" name="member5" placeholder="氏名を入力して下さい">
       <div class="reg-form-content-small">バンドメンバー⑥</div>
       <input type="text" name="member6" placeholder="氏名を入力して下さい">
       <div class="reg-form-content-small">バンドメンバー⑦</div>
       <input type="text" name="member7" placeholder="氏名を入力して下さい">
       <div class="reg-form-content-small">バンドメンバー⑧</div>
       <input type="text" name="member8" placeholder="氏名を入力して下さい">
       <div class="reg-form-content-small">バンマス氏名<span class="reg-caution"> ※必須</span></div>
       <input type="text" name="master" placeholder="氏名を入力して下さい">
       <div class="reg-form-content">バンド情報</div>

       <div class="reg-form-content-small">バンドの説明<span class="reg-caution"> ※必須</span></div>
       <textarea name="description"></textarea>
       <div class="reg-form-content-small">バンド写真</div>
       <input type="file" name="image">
       <input type="submit" name="" value="正規バンドを申請" class="reg-submit">
     </div>
    <% end %>
  </div>
</div>
