<div class="room-wrapper">
  <div class="room-title">
    <h1>部屋利用掲示板</h1>
    <span>練習室などを利用する場合、こちらの掲示板に登録してください</span><br>
    <span class="room-caution">※部屋利用の事前予約をするものではありません。事前に練習室の予約などを取ることはできません。</span>
  </div>
</div>
