<div class="temporal-wrapper">
  <h1>企画バンド申請</h1>
  <div class="description-tem">企画バンドの申請ができます。<br>氏名の入力が間違っていると、プログラムが正常に動作しなくなってしまう場合があります。<br>「正しい漢字」「氏名の間はスペースを空けない」ことを必ず確認して入力してください。</div>
  <div class="tem-band-form-wrapper">
    <%= form_tag("/submit/temporal-band/send") do %>
      <div class="tem-form">
        <div class="tem-form-content">基本情報</div>
        <div class="tem-form-content-small">企画バンド名</div>
        <input type="text" name="name" placeholder="企画名を入力して下さい">
        <div class="tem-form-content-small">出演予定イベント</div>
        <div class="tem-form-select-wrap">
          <select name="event">
            <option value="" disabled selected>選択して下さい</option>
            <% @events.each do |event|%>
              <option value="<%= event.name %>"><%= event.name %></option>
            <% end %>
          </select>
        </div>
        <div class="tem-form-content">メンバー</div>
        <div class="tem-form-content-small">メンバー①</div>
        <input type="text" name="member1" placeholder="氏名を入力して下さい">
        <div class="tem-form-content-small">メンバー②</div>
        <input type="text" name="member2" placeholder="氏名を入力して下さい">
        <div class="tem-form-content-small">メンバー③</div>
        <input type="text" name="member3" placeholder="氏名を入力して下さい">
        <div class="tem-form-content-small">メンバー④</div>
        <input type="text" name="member4" placeholder="氏名を入力して下さい">
        <div class="tem-form-content-small">メンバー⑤</div>
        <input type="text" name="member5" placeholder="氏名を入力して下さい">
        <div class="tem-form-content-small">メンバー⑥</div>
        <input type="text" name="member6" placeholder="氏名を入力して下さい">
        <div class="tem-form-content-small">メンバー⑦</div>
        <input type="text" name="member7" placeholder="氏名を入力して下さい">
        <div class="tem-form-content-small">メンバー⑧</div>
        <input type="text" name="member8" placeholder="氏名を入力して下さい">

      <%= link_to("送信",'/submit/temporal-band/send',{method: 'post',class: "tem-send-btn"})%>
      </div>
    <% end %>
  </div>
</div>
