  <div class="main-wrapper layer-back">
    <div class="title-container layer-base">
      <h1 class="street-corner">Street Corner Symphony</h1>
      <h1 class="portal-site">サークル員専用ポータルサイト</h1>
      <p class="site-description">全く新しい、練習やイベントの管理ができる、SCSサークル員専用のWEBサイトです。</p>
      <a href="/login" class="btn-login">ログイン</a>
      <a href="/signup" class="btn-register">新規登録</a>
    </div>

    <div class="intro-wrapper" id="entry-introduction">
      <h1>エントリーをより便利に。</h1>
      <p>他社Formサービスよりも、SCSに特化したシステムを取り入れています。</p>
    </div>

  </div>
