
<div class="signup-wrapper">
  <h1>新規登録</h1>
  <div class="form-wrapper">
    <%= form_tag("/signup/send") do %>
      <div class="signup-form">
        <div class="signup-content">個人情報登録</div>
        <div class="signup-content-small">氏名 <span>※必須</span></div>
        <input type="text" name="name" placeholder="氏名を入力">
        <div class="signup-content-small">Emailアドレス <span>※必須</span></div>
        <input type="email" name="email" placeholder="普段使用するメールアドレスを入力してください">
        <div class="signup-content-small">電話番号(ハイフンなし) <span>※必須</span></div>
        <input type="text" name="tel" placeholder="電話番号をハイフンなしで入力してください">
        <div class="signup-content">その他の情報</div>
        <div class="signup-content-small">SCSに入会した年度 <span>※必須</span></div>
        <input type="text" name="year" placeholder="半角数字 例)2016">
        <div class="signup-content-small">大学名 <span>※必須</span></div>
        <input type="text" name="univ" placeholder="例)早稲田大学">
        <div class="signup-content">パスワード登録 </div>
        <div class="signup-content-small">パスワード(6文字以上) <span>※必須</span></div>
        <input type="password" name="password" placeholder="氏名を入力">
        <div class="signup-content-small">パスワード再入力 <span>※必須</span></div>
        <input type="password" name="passwordagain" placeholder="氏名を入力">
        <% @errors.each do |message|%>
          <%= message %>
        <% end %>
        <div class="signup-rule">
          ・パスワードや個人情報は漏れることのないよう大切に保管して下さい。<br>
          ・管理者権限が与えられる場合は、SCSサークル員以外のユーザーを登録しないよう留意して下さい。<br>
          ・申請フォームなどの入力は、取り消しが可能ですが、慎重に行うようお願いします。<br>
          ・悪意のある利用・機能外の個人的な利用は控えて下さい。<br>
        </div>
        <input type="submit" class="signup-btn" value="新規登録">
      </div>
    <% end %>
  </div>
</div>
