<h1><%= @mic.date.strftime("%m月%d日" + "(#{%w(日 月 火 水 木 金 土)[@mic.date.wday]})") %><%= @mic.period.name %>のマイク練</h1>

<p>お疲れ様です。</br>
本日の<%= @mic.band.name %>さんのマイク練は只今キャンセル待ちとなっております。</br>部屋が分かり次第追ってご連絡させていただきます。</br>また、部屋が取れずマイク練ができないことも考えられますので、ご了承ください。</p>
