

.main-wrapper-admin{
  padding-top: 50px;
  padding-left: 0px;
  width: 100%;
  height: 1000px;
  background-color: rgba(200, 200, 200, 0.7);
}
.title-wrapper{
  padding: 1px;
  height: 200px;
  background-image: url('db.jpg');
  text-align: center;
  background-size: cover;
}
.title-word{
  color: #fff;
  opacity: 0.7;
  margin-top: 120px;
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 45px;
}

.menu-box{
  width: 25%;
  height: 170px;
  text-align: center;
  float: left;
}
.menu-box p{
  font-size: 12px;
  display: block;
  padding-bottom: 5px;
}
.content-box{
  background-color: #fff;
  margin: 20px 5px 5px 5px;
  height: 120px;
}
.menu-box :hover{
  background-color: lightgray;
  transition: all 300ms ;
}
.content-img{
  height: 80px;
  display: block;
  margin-top: 5px;
  margin-left: 4px;
  margin-right: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22%;
  opacity: 0.56;
  border-top: 10px;
}
#user-img{
  background-image: url('manicon.png');
}
#band-img{
  background-image: url('usericon.png');
}
#form-img{
  background-image: url('formicon.png');
}
#mic-img{
  background-image: url('micicon.png');
}
#room-img{
  background-image: url('dooricon.png');
}
#info-img{
  background-image: url('infoicon.png');
}
@media (max-width: 800px){
  .menu-box{
    width: 50%;
  }
}


/*ユーザー管理画面*/


.database-users-wrapper{
  margin-top: 50px;
  background-color: #DDD;
}
.database-users-wrapper table{
  margin: 90px auto;
  border-collapse: collapse;
}
.database-users-wrapper th{
  font-size: 12.8px;
  padding: 7px 10px;
  border: 0.3px solid lightgray;
  font-weight: normal;
}
.database-users-wrapper thead th{
  font-weight: bold;
}
.user-show-description{
  padding-top: 20px;
  text-align: center;
}
.user-show-description h1{
  font-weight: normal;
}
.user-description-box{
  font-weight: normal;
  font-size: 13px;
}
.user-edit{
  font-size: 11px;
  border: solid 1px ;
  margin: 2px;
  background-color: lightgray;
  padding: 0px 10px;
}
.modal{
  position: absolute;
  height: 250px;
  background-color: rgba(255, 200, 200, 0.8);
  top: 200px;
  right: 300px;
  left: 300px;
  margin: 0px auto;
  z-index: 999;
  display: none;
  padding: 0 10%;
}
.modal-close{
  position: absolute;
  height: 40px;
  width: 40px;
  right: 0;
  text-align: center;
  font-size: 30px;
}
.modal-title{
  font-size: 20px;
  width: 100%;
  padding: 10px;
  text-align: center;
}
.modal-select select{
  width: 100%;
  height: 40px;
  background-color: #fff;
}
.authchange-submit-btn{
  height: 40px;
  background-color: salmon;
  border: none;
  width: 100%;
}
.user-display-grid{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 50px 100px;
  grid-gap: 5px;
}
.user-display{
  overflow: auto;
  background-color: #fff;
}
.user-display-inner{
  margin: 10px 20px;
  overflow: auto;

}
.user-display-basic{
  height: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.user-display-name{
  font-size: 26px;
  height: 100%;
  grid-row: 1 / 3;
}
.user-display-univ, .user-display-year{
  font-size: 12px;
  height: 50%;
  color: #555;
}
.user-display-contact{
  width: 100%;
  margin: 5px 0px;
  font-size: 14px;
}
.user-display i{
  margin: 0 15px;
  font-size: 16px;
}
.user-display-authority{
  font-size: 14px;
}
.approve-button{
  overflow: auto;
  display: block;
  padding: 5px;
}

@media only screen and (min-device-width: 200px) and (max-device-width: 700px){
  .user-display-grid{
    grid-template-columns: 100%;
    padding: 5px;
  }
  .modal{
  position: absolute;
  height: 250px;
  background-color: #ffd;
  box-shadow: 5px 5px 5px 4px #ddd;
  top: 150px;
  right: 10px;
  left: 10px;
  margin: 0px auto;
  z-index: 999;
  display: none;
}
}
/* マイク練管理画面 */

.mic-title{
  margin: auto;
  padding-top: 20px;
  text-align: center;
  font-weight: normal;
  color: #66808f;
}
.mic-title-box{
  margin: 5px;
  border: solid 8px #66808F;
}
.mic-admin-wrapper{
  margin-top: 50px;
}
.mic-admin-wrapper table{
  margin: 90px auto;
  border-collapse: collapse;
}
.mic-admin-wrapper th{
  font-size: 12.8px;
  padding: 7px 30px;
  border: 0.3px solid lightgray;
  font-weight: normal;
}
.mic-date{
  font-size: 50px;
  font-family: Frosty;
}
.mic-time{
  font-size: 20px;
}
.mic-band{
  font-size: 20px;
}


/* バンド管理 */

.band-show-wrapper{
  margin-top: 55px;
}
.band-show-inner{
  margin: 0 80px;
  background-color: #EEE;
}
.band-show-title{
  font-size: 25px;
  font-weight: bold;
  margin:  10px 0;
}
.band-show-description{
  font-size: 14px;
}
.band-show-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.band-show-content{
  background-color: white;
  margin: 10px;
  padding: 5px;
  position: relative;
}
.band-name{
  font-size: 25px;
  width: 100%;
  height: 30px;
}
.band-edit{
  background-color: #999;
  height: 30px;
  width: 10%;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 3px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}
.band-approve{
  height: 20px;
  width: 90px;
  text-align: center;
  padding: 2px 0 ;
  font-weight: bold;
  border-radius: 4px;
  background-color: salmon;
  font-size: 12px;
  margin-top: 10px;
}
.band-members{
  font-size: 12px;
  margin: 10px 0;
  width: 100%;

}
.band-img{
  float: left;
  width: 40%;
}
.band-description{
  font-size: 12px;
  width: 60%;
  float: left;
  padding: 5px;
}
.no-bands{
  padding: 40px;
}
@media only screen and (min-device-width: 200px) and (max-device-width: 700px){
  .band-show-inner{
    margin: 5px;
  }
  .band-show-container{
    grid-template-columns: 100%;
  }
}

/* お知らせ管理 */
.show-infos-wrapper{
  margin-top: 50px;
}
.new-info-wrapper{
  padding: 16px;
  overflow: auto;
}
.new-info-title{
  background-color: #555;
  padding: 16px;
  color: #FFF;
  margin-top: 32px;
}
.new-info-contents{
  overflow: auto;
  height: 100%;
}
.new-info-small{
  padding: 8px;
  border-bottom: dotted 1px;
}
.new-info-caution{
  padding: 16px;
  border: dotted 1px ;
  font-size: 13px;
}
.new-info-contents input:not([type="submit"]), textarea{
  width:  100%;
  border: none;
  margin: 16px 0;
  padding: 16px;
  display: block;
  background-color: #ddd;
}
.new-info-contents input[type="text"]:focus{
  background-color: #fef;
  font-size: 15px;
  transition: 200ms ease;
}
.new-info-contents input[type="submit"]{
  font-size: 16px;
  color: #fff;
  background-color: salmon;
  padding: 16px;
  margin: 16px 0;
  width: 100%;
}

@media(max-width:600px) {
  .new-info-wrapper{
    margin-right: 5px;
    margin-left: 5px;

  }
  .new-info-wrapper h1{
    text-align: left;
  }
  .new-info-title{
    width: 100%;
    height: auto;
    border-right: none;
  }
  .new-info-contents{
    width: 100%;
    border-left: none;
    border-top: solid 1px gray;
  }
  .new-info-contents input, textarea{
    width: 100%;
  }
}

/* 企画バンド管理 */

.showtemp-wrapper{
  margin-top: 50px;
  text-align: center;
}

/* イベント管理 */

.show-event-wrap{
  margin: 0 5px;
  margin-top: 60px;
}
.event-add-wrap{
  margin: 10px ;
  overflow: auto;
  background-color: #ccc;
}
.event-add-wrap input:not(.event-submit-btn), select{
  height: 40px;
  float: left;
  width: 100%;
  margin: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
  border: none;
  border-bottom: solid 1px #9f9033;
  border-radius: 0;
  background: none;
  font-size: 13px;
}
.event-submit-btn{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 40px;
  background-color: salmon;
  border: none;
  color: #fff;
  font-size: bold;
}
.event-add-input-box{
  width: 400px;
  margin: 10px auto;
}
.show-event-title{
  border: solid 10px #9f9033;
  margin: 10px 0;
  padding: 10px;
  color: #9f9033;
  font-size: 20px;
  font-weight: bold;
}
.event-list{
  margin: 10px;
}
.event-box{
  padding: 5px;
  margin: 5px;
  background-color: #fff;
  border: 1px solid #888;
}
.event-title{
  font-weight: bold;
  font-size: 20px;
}
.event-dt{
  font-size: 14px;
}
.cancel-btn{
}

/*   マイク練部屋登録画面  */

.mic-room-wrap{
  margin: 10px;
  margin-top: 55px;
  overflow: auto;
}
.mic-room-date{
  font-size: 20px;
  border-bottom: solid 1px #aaa;
  padding: 10px;
}
.mic-roop-time-wrap{
  padding: 10px;
}
.room-select{
  height: 45px;
  background-color: #cdd;
  border: orange;
}
#mic-room-submit{
  height: 40px;
  background-color: salmon;
  -webkit-appearance: none;
  border-radius: 10px;
  margin: 10px 5%;
  width: 90%;
}

