

.main-wrapper-admin{
  padding-top: 50px;
  padding-left: 0px;
  width: 100%;
  height: 1000px;
  background-color: rgba(200, 200, 200, 0.7);
}
.title-wrapper{
  padding: 1px;
  height: 200px;
  background-image: url('db.jpg');
  text-align: center;
  background-size: cover;
}
.title-word{
  color: #fff;
  opacity: 0.7;
  margin-top: 120px;
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 45px;
}

.menu-box{
  width: 25%;
  height: 170px;
  text-align: center;
  float: left;
}
.menu-box p{
  font-size: 12px;
  display: block;
  padding-bottom: 5px;
}
.content-box{
  background-color: #fff;
  margin: 20px 5px 5px 5px;
  height: 120px;
}
.menu-box :hover{
  background-color: lightgray;
  transition: all 300ms ;
}
.content-img{
  height: 80px;
  display: block;
  margin-top: 5px;
  margin-left: 4px;
  margin-right: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22%;
  opacity: 0.56;
  border-top: 10px;
}
#user-img{
  background-image: url('manicon.png');
}
#band-img{
  background-image: url('usericon.png');
}
#form-img{
  background-image: url('formicon.png');
}
#mic-img{
  background-image: url('micicon.png');
}
#room-img{
  background-image: url('dooricon.png');
}
#info-img{
  background-image: url('infoicon.png');
}
@media (max-width: 800px){
  .menu-box{
    width: 50%;
  }
}


/*ユーザー管理画面*/


.database-users-wrapper{
  margin-top: 50px;
  background-color: #DDD;
}
.database-users-wrapper table{
  margin: 90px auto;
  border-collapse: collapse;
}
.database-users-wrapper th{
  font-size: 12.8px;
  padding: 7px 10px;
  border: 0.3px solid lightgray;
  font-weight: normal;
}
.database-users-wrapper thead th{
  font-weight: bold;
}
.user-show-description{
  padding-top: 20px;
  text-align: center;
}
.user-show-description h1{
  font-weight: normal;
}
.user-description-box{
  font-weight: normal;
  font-size: 13px;
}
.user-edit{
  font-size: 11px;
  border: solid 1px ;
  margin: 2px;
  background-color: lightgray;
  padding: 0px 10px;
}
.modal{
  position: absolute;
  height: 250px;
  background-color: #00ced1;
  box-shadow: 5px 5px 5px 4px #333;
  top: 200px;
  right: 20%;
  left: 20%;
  z-index: 999;
  display: none;
}
.modal-close{
  position: absolute;
  height: 40px;
  width: 40px;
  right: 0;
  text-align: center;
  font-size: 30px;
}
.modal-title{
  font-size: 25px;
  color: #fff;
  padding: 5px;
}
.user-display-grid{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 50px 100px;
}
.user-display{
  height: 130px;
  background-color: #fff;
}
.user-display-inner{
  margin: 10px 20px;
  height: 110px;

}
.user-display-basic{
  height: 40px;
  width: 100%;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.user-display-name{
  font-size: 26px;
  height: 100%;
  grid-row: 1 / 3;
}
.user-display-univ, .user-display-year{
  font-size: 12px;
  height: 50%;
  color: #555;
}
.user-display-contact{
  width: 100%;
  margin: 5px 0px;
  font-size: 14px;
}
.user-display i{
  margin: 0 15px;
  font-size: 16px;
}
.user-display-authority{
  font-size: 14px;
}

@media only screen and (min-device-width: 200px) and (max-device-width: 700px){
  .user-display-grid{
    grid-template-columns: 100%;
    padding: 5px;
  }
}
/* マイク練管理画面 */


.mic-admin-wrapper{
  margin-top: 50px;
}
.mic-admin-wrapper table{
  margin: 90px auto;
  border-collapse: collapse;
}
.mic-admin-wrapper th{
  font-size: 12.8px;
  padding: 7px 30px;
  border: 0.3px solid lightgray;
  font-weight: normal;
}

/* バンド管理 */

.band-show-wrapper{
  margin-top: 50px;
  border-collapse: collapse;
}
.band-show-wrapper table{
  margin: 10px auto;
}
.band-show-wrapper td,th{
  border: solid 1px gray;

  padding: 2px 15px;
  font-size: 12px;
}

/* お知らせ管理 */
.show-infos-wrapper{
  margin-top: 50px;
}
.new-info-wrapper{
  margin: 40px;
  margin-top: 70px;
  padding: 10px;

  float: top;
  overflow: auto;
}
.new-info-title{
  height: ;
  width: 40%;
  float: left;
  text-align: center;

}
.new-info-contents{
  float: left;
  width: 55%;
  height: auto;
  height: 100%;
  border-left: 1px solid gray;
}
.new-info-contents input, textarea{
  width:  90%;
  padding: 5px;
  margin: 8px 5px;
  display: block;
  border: solid 1px gray;
}
.new-info-contents textarea {
  height: 100px;
  font-size: 14px;
}
@media(max-width:600px) {
  .new-info-wrapper{
    margin-right: 5px;
    margin-left: 5px;

  }
  .new-info-wrapper h1{
    text-align: left;
  }
  .new-info-title{
    width: 100%;
    height: auto;
    border-right: none;
  }
  .new-info-contents{
    width: 100%;
    border-left: none;
    border-top: solid 1px gray;
  }
  .new-info-contents input, textarea{
    width: 100%;
  }
}

/* 企画バンド管理 */

.showtemp-wrapper{
  margin-top: 50px;
  text-align: center;
}

