/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

/*      ヘッダーここから    */
header{
  background-color: #00ced1;
  color: #fff;
  margin-top: 0 auto;
  height: 55px;
  top: 0;
  z-index: 1000;
  position: fixed;
  width:100%;
}
a {
  text-decoration: none;
}
input :not(input[type="checkbox"]){
  -webkit-appearance: none;
}
.blured{
  filter: brightness(50%);
  transition: 300ms ease-in-out;
}
.header-title{
  font-family: "Avenir next";
  font-size: 30px;
  padding: 5px 20px;
  height: 95%;
  color: white;
}

#title:hover{
  background-color:lightseagreen;
  transition: all 300ms ease;
}
.sidemenu-open-btn{
  position: absolute;
  top: 0;
  height: 100%;
  left: 80px;
  width: 55px;
  padding: 10px 15px;
  font-size: 25px;
}
.header-left{
  position: absolute;
  margin: 0 auto;
  height: 100%;
  right: 20%;
  left: 20%;
  text-align: center;
}
/*画面サイズが小さくなったらheader-rightは非表示にする*/
.header-right{
  width: 80%;
}
#sidemenu{
  position: fixed;
  top: 55px;
  left: 0px;
  width: 300px;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}
.side-user{
  width: 100%;
  color: #999;
  border-bottom: solid 1px #999;
  padding: 10px;
}
.side-user-img{
  float: left;
  height: 100%;
  width: 80px;
  font-size: 30px;
  padding: 15px;
}
.side-user-name{
  padding: 5px;
  font-size: 18px;
}
.side-user-other{
  font-size: 12px;
}
.sidemenu-category{
  background-color: #999;
  color: #222;
  height: 25px;
  width: 100%;
  font-size: 13px;
  padding: 2px 5px;
  font-weight: bold;
}
.sidemenu-content{
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #999;
  color: #bbb;
}
.sidemenu-content:hover{
  color: #222;
  background-color: #bbb;
  transition: 300ms ease;
}
.side-content-img{
  height: 100%;
  width: 80px;
  float: left;
  font-size: 30px;
  padding: 10px 15px;
  text-align: center;
}
.side-content-title{
  float: left;
  height: 100%;
  padding: 15px 0;
  font-size: 16px;
  font-weight: lighter;
}


@media(max-width: 920px){
  .header-right{
    display: none;
  }
  .header-end{
    display: block;
  }
  .sidemenu-open-btn{
    left: 5px;
  }
}
.button-wrapper{
  height: 50px;
  width: 100%;

  display: block;
  float: left;
}
header .menu-button{
  display: block;
  margin:  0 10px;
  padding: 0 0;
  height: 100%;
  font-size: 13px;
  z-index: 10;
}
header .menu-button:hover{
  background-color: lightseagreen;
  transition: all 500ms;
}
header li {
  display: block;
  list-style: none;
  float: left;
  padding: 0px 14px;
  height: 100%;
  z-index: 9;
}
.header-end{
  float: right;
  display: block;
  height: 50px;
  width: 100px;
  }
.header-end a{
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
  color: #fff;
  vertical-align: middle;
  z-index: 10;
}
header .btn:hover{
  background-color: lightseagreen;
  transition: all 500ms;
}
/*      ヘッダーここまで    */
.flash-notice{
  float: top;
  margin-top: 50px;
  text-align: center;
  width: 100%;
  height: 20px;
  background-color: lightsalmon;
  color: white;
  font-size: 10px;
  padding: 3px 0;
}

footer{
  height: 250px;
  background-color: #44444F;
}

