
.main-wrapper{
  font-family: "Hiragino Kaku Gothic ProN W6";
}
.title-container{
  height: 600px;
  float: top;
  padding-top: 80px;
  background-image: url('https://mb.api.cloud.nifty.com/2013-09-01/applications/tZQAF19Rr4FUKnoU/publicFiles/797-700x465のコピー.jpg');
  background-size: cover;  width: 100%;
  background-color: turquoise;
  z-index: 3;
  text-align: center;
}
@media(max-width: 510px){
  .title-container{
    height: 800px;
  }
  .street-corner{
    text-align: left;
  }
  .portal-site{
    text-align: left;
  }
  .header-end{
    display: none;
  }
}

.street-corner{
  font-size: 66px;
  opacity: 0.7;
  color: lightyellow;
  font-family: "Avenir";
  padding-left: 30px;
}
.street-corner:hover{
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.portal-site{
  opacity: 0.7;
  font-size: 32px;
  padding-left: 30px;
  color: lightyellow;
}
.portal-site:hover{
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.site-description{
  color: lightyellow;
  padding-left: 30px;
  opacity: 0.7;
}
.btn-login{
  background-color: coral;
  display: inline-block;
  padding: 7px 20px;
  margin-top: 20px;
  color: white;
  opacity: 0.7;
  box-shadow: 0 3px #935729;
}
.btn-login:hover{
  opacity: 1;
}
.btn-login:active{
  position: relative;
  top: 3px;
  box-shadow: none;
  transition: all 100ms ease;
}

.btn-register{
  background-color: blueviolet;
  color: white;
  display: inline-block;
  padding: 7px 20px;
  float: top;
  opacity: 0.7;
  box-shadow: 0 3px darkviolet;
}
.btn-register:hover{
  opacity: 1;
}
.btn-register:active{
  position: relative;
  top: 3px;
  box-shadow: none;
  transition: all 100ms ease;
}

/*    タイトル部分ここまで    */

/*=============以下未使用くん==============*/

.intro-wrapper{
  padding: 15px;
  height: 400px;
  background-image: url('/assets/penpaper.jpeg');
  background-color: lightsalmon;
  background-size: cover;
  color: black;
  opacity: 0.7;
}
.intro-wrapper h1{
  padding-top: 40px;
  font-size: 42px;
}
