
.mic-sub-wrapper{
  margin-top: 50px;
  background-image: url('back-mic.jpg');
  text-align: center;
  padding-bottom: 50px;
}
.mic-sub-wrapper h1{
  color: #fff;
  opacity: 0.7;
  padding-top: 30px;
}
.mic-sub-form{
  margin: 50px auto;
  padding: 20px 0;
  width: 500px;
  background-color: rgba(200,200,200,0.5);
  width:80%;
}
.mic-sub-form table{

  width:90%;
  margin:auto;
}
.input-table-cell{
  width: 75%;

}
.mic-sub-form td{
  height:45px;
  text-align: right;
  padding-right: 8px;
  font-size: 13px;
}

.mic-sub-form .mic-input, select{
  height:90%;
  width:100%;
  border: none;
  border-radius: 0;
  background-color: white;
  opacity:0.75;
  font-size: 14px;
}
.mic-input-check {
  height: 20px;
  width: 20px;
  color: white;
  background-color: white;
  -webkit-appearance: ;
}
.mic-input-check :hover{
  background-color: red;
}
.error-mic{
  font-size: 12px;
  color: darkred;
}

#send-btn{
  height:40px;
  width: 40%;
  display: block;
  border-style: none;
  margin: 15px auto;
  background-color: salmon;
  -webkit-appearance: none;
}

.mic-history-wrapper{
  width: 90%;
  margin: auto;
  height: 600px;
  background-color: rgba(200,200, 200, 0.3);
}
.mic-history-wrapper h3{
  padding-top: 40px;
  padding-bottom: 20px;
  opacity: 0.55;
}
.mic-history-wrapper table{
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}
.mic-history-wrapper td,th{
  border: solid 0.5px rgba(150, 150, 150, 0.5);
  background-color: rgba(100, 100, 100, 0.6);
  height: 34px;
  font-size: 13px;
}


/********** 正規バンド申請画面 **********/


.reg-band-sub-wrapper{
  margin-top: 50px;
  padding: 10px 0;
}
.reg-band-sub-wrapper h1{
  text-align: center;

}
.reg-band-sub-form{
  padding: 10px 0;
  width: 85%;
  margin: auto;
  background-color: rgba(0, 300, 0, 0.2);
}
.reg-band-sub-form table{
  width: 90%;
  margin: auto;

}
.reg-band-sub-form table td{
  padding-top: 5px ;
  padding-bottom: 5px;
}
.reg-band-sub-form input {
  height: 30px;
  width: 230px;
  border:  solid 0.5px gray;
  background-color: rgba(300, 300, 300, 0.5);
  padding: 10px;
  margin-left: 10px;
}
.reg-band-sub-form textarea{
  width: 230px;
  height: 90px;
  background-color: rgba(300, 300, 300, 0.5);
  margin-left: 10px;
}
.caution{
  color: darkred;
  padding: 0 30px;
  font-size: 12px;
  text-align: center;
}
.required-question{
  font-size: 10px;
  color: white;
  text-align: center;
  opacity: 0.7;
  width: 33px;
}
.required-box{
  background-color: rgba(180, 0, 0, 0.8);
  height: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: center;
  width: 100%;
}

.reg-band-form-title{
  width: 200px;
  font-size: 13px;
  text-align: right;
  padding-right: 10px;
}
@media(max-width:600px){
  .reg-band-form-title{
    font-size: 6px;
    width: 85px;
  }
  .reg-band-sub-form table{
    width: 100%;
  }
  .reg-band-sub-form{
    width: 95%;
  }
}
#reg-band-send{
  border-style: none;
  margin: 8px auto;
  background-color: darksalmon;
  height: 40px;
  color: white;
  border-radius: 30px;
}


/********** 企画バンド申請画面 **********/


.temporal-wrapper{
  margin-top: 50px;
  background-color: white;
  overflow: auto;
  text-align: center;
}

.temporal-wrapper h1{
  font-family: "Avenir";
  font-weight: normal;
  color: black;
}
.description-tem{
  font-size: 12px;
}
.temporal-wrapper table{
  padding: 30px 0px;
  margin: auto;
  margin-top: 20px;
  background-color: rgba(100, 100, 100, 0.2);
}
.temporal-wrapper input{
  height: 34px;
  width: 90%;
  border:  solid 1px gray;
  background-color: rgba(300, 300, 300, 0.5);
  padding: 10px;
  margin-left: 15px;
}
.temporal-wrapper select{
  background-color: rgba(300, 300, 300, 0.76);
  width: 90%;
  height: 34px;
  border:  solid 1px gray;
  float: left;
  margin-left: 15px;
  color: darkslategray;
}
.temporal-wrapper .caution{
  float: left;
  text-align: left;
  margin: 0;
}
.tem-send-btn{
  height: 40px;
  width:  300px;
  background-color: salmon;
  padding: 12px;
  margin: 30px auto;
  color: white;
  border-style: none;
}


/********** コメント画面 **********/


.comment-wrapper{
  margin-top: 50px;
}
.comment-title{
  width: 50%;
  margin: auto;
  padding: 10px;
  text-align: left;
}
.comment-title h1 {
  font-weight: bold;
  background-color: #CCC;
  padding:  10px;
}
.comment-title span{
  font-size: 14px;
}
.comment-menu{
  width: 100%;
  overflow: auto;
}
.comment-form{
  margin: auto;
}
.comment-form table{
  margin: auto;
  margin-bottom: 20px;
}
.comment-form td{
  padding: 5px;
}
.comment-form td h2{
  border-bottom: solid 1px;
}
.comment-menu-content{
  height: 40px;
  width: 90%;
  background-color: lightpink;
  margin: 10px auto;
  text-align: center;
}
.comment-menu-content-name{
  margin: auto;
  padding: 10px;
}
#conference-selecter{

}
#anonimity-checkbox{
  float: left;
  display: inline-block;
}
#anonimity-caution{
  float: left;
  font-size: 12px;
}
.content-designate{
  background-color: #40404F;
  color: white;
  height: 50px;
  font-size: 12px;
  width: 150px;
  padding-left: 10px;
}
.comment-content{
  width: 500px;
  background-color: #DDD;
}
.comment-content textarea, input:not([type="checkbox"]){
  width: 98%;
}
.comment-content textarea{
  height: 250px;
  resize: none;
}
.submit-td{
  height: 50px;
}
 #conference-comment-send-btn{
  border: none;
  background-color: salmon;
  height: 99%;
  width: 99%;
  color: white;
}
@media only screen and (min-device-width:200px) and (max-device-width:700px){
  .comment-title{
    width: 100%;
  }
}


/********** 部屋利用 **********/

.room-wrapper{
  margin-top: 50px;
}
.room-title{
  margin: auto;
  padding-top: 20px;
  text-align: center;
  font-weight: normal;
  color: #66808f;
}
.room-title-box{
  margin: 5px;
  border: solid 8px #66808F;
}
.error-messages{
  color: red;
  border: solid 2px red;
  font-size: 13px;
  padding: 20px 5px;
  margin-top: 10px;
}

.room-about{
  font-size: 13px;
  color: #66808f;
  padding: 20px 0;
}
.room-current{
  border: solid 1px #66808F;
  color: #66808F;
  font-size: 13px;
  padding: 4px;
}
.room-current a{
  display: block;
  float: right;
}
.rcurrent-title{
  padding: 3px 0;
  font-size: 15px;
  font-weight: bold;
}
.room-radio{
  display: none;
}
.room-contents-container{
  margin: 5px;
}
.room-content-wrap{
  overflow: auto;
}
.room-content-title{
  color: #66808F;
  font-size: 13px;
  margin: 15px 0;
  border-bottom:  solid 1px #66808F;
}
.room-content-wrap label{
  display: block;
  height: 33px;
  text-align: center;
  padding: 5px;
  background-color: #66808F;
  color: white;
  width: 49%;
  margin: 1px;
  float: left;
}
.room-radio:checked + label {
  background: #44a0aE;
  color: yellow;
  transition:  100ms ease;
}
#today {
  width: 98.5%;
}
.band-select{
  height: 35px;
  background-color: #44707f;
  color: white;
  font-size: 15px;
}
#room-submit{
  -webkit-appearance: none;
  height: 45px;
  color: white;
  background-color: salmon;
  margin: 15px 2px;
  border: none;
}
