/********** マイク練申請画面 **********/
.mic-submit-wrap{
  background-color: #fff;
}
.mic-submit-inner{
  overflow: auto;
  margin: 0 250px;
  margin-top: 55px;
}
.mic-sub-side{
  width: 240px;
  height: 100%;
  float: left;
}
.display-small-title{
  display: block;
  font-size: 15px;
  color: #666;
  padding: 10px;
  padding-top: 80px;
}
.mic-sub-side-title{
  border-top: solid 1px #999;
  border-bottom: solid 1px #999;
  padding: 20px 10px;
  color: #55E;
  font-size: 18px;
  font-weight: bold;
}
.mic-sub-side-category{
  padding: 5px 10px;
  font-weight: bold;
  font-size: 12px;
  background-color: #aaa;
}
.mic-sub-side-content{
  padding: 10px 10px;
  border-bottom: solid 1px #999;
  font-size: 14px;
}
.mic-sub-side-content:hover{
  color: blue;
}
.mic-sub-main{
  float: left;
  width: auto;
  padding: 80px;
}
.mic-form-errors{
  float: top;
  width: 60%;
  color: red;
  border:  1px solid red;
  font-size: 13px;
  padding: 6px;
  margin: 20px 0;
}
.mic-sub-main select{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  -webkit-appearance: none;
  border: none;
}
#mic-date-input{
  -webkit-appearance: none;
  height: 40px;
  background: none;
  border: none;
  border-bottom: solid 1px #777;
  font-weight: bold;
  font-size: 16px;
  width: 500px;
  padding: 15px 0 ;
  margin: 20px 0;
}
.mic-time-picker{
  display: grid;
  grid-template-columns: 50% 50%;
}
.mic-time-pick{
  font-size: 15px;
  font-family: sans-serif;
  padding: 8px;
  margin: 5px;
  border: 6px solid #99F;
}
.mic-time-input{
  display: none;
}
.mic-time-input:hover + label {
  background: #DDF;
  transition:  300ms ease;
}
.mic-time-input:checked + label {
  font-weight: bold;
  background: #99F;
  color: white;
  transition:  100ms ease;
}
#mic-submit-btn{
  -webkit-appearance: none;
  border: none;
  background-color: salmon;
  margin: 24px auto;
  padding: 16px;
  width: 100%;
}
.mic-sub-form select{
  float: top;
  border: dotted 1px #000;
  border-radius: 4px;
  display: block;
}
.mic-sub-form-content{
  width: 100%;
  float: top;
}
@media (max-width: 1400px){
  .mic-submit-inner{
    margin: 0 10px;
  }
  .mic-sub-side{
    height: auto;
    width: 100%;
  }
  .mic-sub-main{
    float: top;
    width: 100%;
    padding: 5px;
    margin-top: 30px;
    background-color: #fefefe;
  }
  #mic-date-input{
    width: 100%;
  }
  .mic-sub-form select{

  }
}
@media only screen and (min-device-width:200px) and (max-device-width:1125px){
  .mic-submit-inner{
    margin: 0 10px;
  }
  .mic-sub-side{
    height: auto;
    width: 100%;
  }
  .mic-sub-main{
    float: top;
    width: 100%;
    padding: 5px;
    margin-top: 30px;
    background-color: #fefefe;
  }
  #mic-date-input{
    width: 100%;
  }
  .mic-sub-form select{

  }
}

.mic-list-wrap{
  overflow: auto;
  background-color: #fff;
}
.mic-list-inner{
  margin: 50px 250px;
}
.mic-list-contents{
  width: 100%;
  overflow: auto;
  box-shadow: 3px 3px 10px #666;
  margin: 15px 0;
}
.mic-list-content-title{
  width: 50%;
}
.mic-list-content{
  float: left;
  padding: 10px 15px;
  width: 33%;
}
.mic-list-content-title{
  font-size: 18px;
  font-weight: bold;
}
@media only screen and (min-device-width:200px) and (max-device-width:700px){
  .mic-list-inner{
    margin: 5px;
  }
}
/********** 正規バンド申請画面 **********/

.to-temporal-btn{
  padding: 16px;
  background-color: #fff;
  margin: 15px;
  border: darkgreen solid 4px;
  border-radius: 8px;
}
.to-temporal-btn:hover{
  background-color: darkgreen;
  color: white;
  transition: 300ms ease;

}
.to-temporal-btn:active{
  background-color: rgba(0, 0, 0, 0.8);
  transition: 100ms ease;
}
.reg-band-sub-wrapper{
  margin-top: 50px;
  padding: 10px 0;
}
.reg-band-sub-wrapper h1{
  text-align: center;
}
.reg-band-sub-form{
  padding: 10px 0;
  width: 85%;
  margin: auto;
  background-color: #E9E9E9;
}
.reg-form{
  width: 100%;
  padding: 16px;
}
.reg-form-content{
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid gray;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #666;
}
.reg-form-content-small{
  width: 100%;
  padding: 4px;
  border-bottom: dotted 1px gray;
  font-size: 13px;
}
.reg-form input,textarea{
  width: 100%;
  margin: 16px 0;
  padding: 8px;
  font-size: 14px;
}
.reg-form textarea{
  height: 150px;
}
.reg-form input[type="text"], input[type="file"]{
  border: none;
  border-bottom: solid 1px #aaa;
  padding: 16px;
  font-size: 12px;
  background-color: rgba(170, 200, 255, 0.4);
}
.reg-form input:focus{
  border-bottom: solid 1px salmon;
  background-color: #fff;
  transition: 300ms ease;
  font-size: 14px;
}
.reg-caution{
  color: #B00;
  padding: 0 16px;
}
.reg-submit:hover{
  color: salmon;
  background-color: transparent;
  transition: 200ms ease;
  }
.reg-submit{
  font-weight: bold;
  font-size: 16px;
  background-color: salmon;
  border: solid 5px salmon;
  color: white;
  border-radius: 4px;
}
@media(max-width:600px){
  .reg-band-form-title{
    font-size: 6px;
    width: 85px;
  }
  .reg-band-sub-form table{
    width: 100%;
  }
  .reg-band-sub-form{
    width: 95%;
  }
}
#reg-band-send{
  border-style: none;
  margin: 8px auto;
  background-color: darksalmon;
  height: 40px;
  color: white;
  border-radius: 30px;
}


/********** 企画バンド申請画面 **********/


.temporal-wrapper{
  margin-top: 50px;
  background-color: white;
  overflow: auto;
  text-align: center;
  padding: 16px;
}

.temporal-wrapper h1{
  font-family: "Avenir";
  font-weight: normal;
  color: black;
}
.description-tem{
  font-size: 12px;
}

.tem-send-btn{
  width:  100%;
  background-color: salmon;
  padding: 16px;
  margin: 30px auto;
  color: white;
  border-style: none;
  text-align: center;
  font-size: 16px;
}
.tem-send-btn:hover{
  background-color: indianred;
  transition: 400ms ease;
}
.tem-form{
  padding: 16px;
  text-align: left;
}
.tem-form-content{
  padding: 16px;
  font-size: 18px;
  background-color: #555;
  color: #fff;
  font-weight: bold;
}
.tem-form-content-small{
  border-bottom: solid 1px #cecece;
  font-size: 13px;
  padding: 4px;
  margin: 8px 0;
}
.tem-form-select-wrap{
  overflow: auto;
}
.tem-form input,.tem-form select{
  padding: 16px;
  background-color: #bcc;
  border: none;
  border-bottom: 1px solid darkblue;
  width: 100%;
}
.tem-form input:focus,.tem-form select:focus{
  background-color: #cff;
  transition: 200ms ease;
  font-size: 15px;
}
.tem-form select{
  margin: 10px 0;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 50px;
}


/********** コメント画面 **********/


.comment-wrapper{
  margin-top: 50px;
  background-color: #fff;
}
.comment-inner{
  margin: 100px 200px;
  overflow: auto;
}
.comment-side{
  width: 300px;
  float: left;
  height: 100%;
}
.comment-side-title{
  font-size: 20px;
  font-weight: bold;
  color: #939;
  padding: 15px 5px;
}
.comment-side-category{
  background-color: #999;
  padding: 5px;
  font-size: 13px;
  font-weight: bold;
}
.comment-side-content{
  padding: 15px 5px;
  border-bottom: solid 1px #666;
}
.comment-side-content:hover{
  color: #939;
}
.comment-main{
  width: 70%;
  float: left;
  overflow: auto;
  padding: 8px;
}
.comment-main h1{
  padding: 8px;
  width: 100%;
}
.com-cof-content{
  width: 100%;
  padding: 5px;
}
.com-cof-input{
  width: 100%;
  overflow: hidden;
}
.com-cof-input textarea{
  height: 240px;
  width: 100%;
  padding: 16px;
}
.textarea-comcof{
  height: 220px;
}
.comment-main select{
  width: 100%;
  padding: 8px;
}
.sent-comment{
  border: dotted 1px;
  margin: 8px 0;
}

#com-submit-btn{
  background-color: salmon;
  border: none;
  margin: 16px 0;
  text-align: center;
  font-size: 16px;
  padding: 16px;
  border-radius: 4px;
  width: 100%;
  -webkit-appearance: none;
}
.sent-comment-object{
  font-weight: bold;
  padding: 5px;
}
.sent-comment-content{
  font-size: 13px;
  padding: 5px;
}
.comment-reply-container{
  padding: 8px;
  margin: 8px 0;
  border: dotted 1px #9f9f9f;
  margin-left: 20px;
  font-size: 13px;
  overflow: auto;
}
.reply-image{
  height: 100%;
  overflow: auto;
  float: left;
  text-align: center;

}
.reply-content{
  float: left;
  margin-left: 16px;
  height: 100%;
  width: 90%;
}
.reply-text{
  width: 100%;
  padding: 8px;
}
.reply-text textarea{
  width: 100%;
  height: 160px;
}
.reply-send-btn{
  width: 100%;
  background-color: salmon;
  border: 1px solid salmon;
  color: #fff;
  text-align: center;
  padding:16px;
  font-weight: bold;
  font-size: 16px;
}
.reply-send-btn:hover{
  background-color: #ddd;
  transition: 200ms ease;
  color: salmon;
}
@media only screen and (min-device-width:200px) and (max-device-width:700px){
  .comment-inner{
    margin: 0;

  }
  .comment-side{
    width: 100%;
  }
  .comment-main{
    width: 100%;
  }
}


/********** 部屋利用 **********/

.room-wrapper{
  margin-top: 50px;
  padding: 16px;
}
.room-title{
  margin: auto;
  padding-top: 20px;
  text-align: center;
  font-weight: normal;
  color: #66808f;
}
.room-title-box{
  margin: 5px;
  border: solid 8px #66808F;
}
.error-messages{
  color: red;
  border: solid 2px red;
  font-size: 13px;
  padding: 20px 5px;
  margin-top: 10px;
}

.room-about{
  font-size: 13px;
  color: #66808f;
  padding: 20px 0;
}
.room-current{
  border: solid 1px #66808F;
  color: #66808F;
  font-size: 15px;
  padding: 4px;
}
.room-current a{
  display: block;
  float: right;
}
.rcurrent-title{
  padding: 3px 0;
  font-size: 18px;
  font-weight: bold;
}
.room-radio{
  display: none;
}
.room-contents-container{
  margin: 5px;
}
.room-content-wrap{
  overflow: auto;
}
.room-content-title{
  color: #66808F;
  font-size: 13px;
  margin: 15px 0;
  border-bottom:  solid 1px #66808F;
}
.room-content-wrap label{
  display: block;
  height: 40px;
  text-align: center;
  padding: 5px;
  background-color: #66808F;
  color: white;
  width: 49%;
  margin: 1px;
  float: left;
}
.room-radio:checked + label {
  background: #77D0DE;
  color: yellow;
  transition:  100ms ease;
}
#today {
  width: 98.5%;
}
.band-select{
  height: 50px;
  background-color: #44707f;
  color: white;
  font-size: 14px;
  width: 100%;
  margin: 0;
  padding: 16px;
  margin: 10px 0;

}
#room-submit{
  -webkit-appearance: none;
  font-size: 16px;
  color: white;
  width: 100%;
  background-color: salmon;
  margin: 16px 0;
  border: none;
  padding: 16px;
}
