/********** マイク練申請画面 **********/
.mic-submit-wrap{
  background-color: #fff;
}
.mic-submit-inner{
  overflow: auto;
  margin: 0 250px;
  margin-top: 55px;
}
.mic-sub-side{
  width: 240px;
  height: 100%;
  float: left;
}
.display-small-title{
  display: block;
  font-size: 15px;
  color: #666;
  padding: 10px;
  padding-top: 80px;
}
.mic-sub-side-title{
  border-top: solid 1px #999;
  border-bottom: solid 1px #999;
  padding: 20px 10px;
  color: #55E;
  font-size: 18px;
  font-weight: bold;
}
.mic-sub-side-category{
  padding: 5px 10px;
  font-weight: bold;
  font-size: 12px;
  background-color: #aaa;
}
.mic-sub-side-content{
  padding: 10px 10px;
  border-bottom: solid 1px #999;
  font-size: 14px;
}
.mic-sub-side-content:hover{
  color: blue;
}
.mic-sub-main{
  float: left;
  width: auto;
  padding: 80px;
}
.mic-form-errors{
  float: top;
  width: 60%;
  color: red;
  border:  1px solid red;
  font-size: 13px;
  padding: 6px;
  margin: 20px 0;
}
.mic-sub-main select{
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
  margin-bottom: 20px;
  -webkit-appearance: none;
  border: none;
  width: 300px;
}
#mic-date-input{
  -webkit-appearance: none;
  height: 40px;
  background: none;
  border: none;
  border-bottom: solid 1px #777;
  font-weight: bold;
  font-size: 16px;
  width: 500px;
  padding: 15px 0 ;
  margin: 20px 0;
}
.mic-time-picker{
  display: grid;
  grid-template-columns: 50% 50%;
}
.mic-time-pick{
  font-size: 15px;
  font-family: sans-serif;
  padding: 8px;
  margin: 5px;
  height: 50px;
  border: 6px solid #99F;
}
.mic-time-input{
  display: none;
}
.mic-time-input:checked + label {
  background: #99F;
  color: white;
  transition:  100ms ease;
}
#mic-submit-btn{
  -webkit-appearance: none;
  border: none;
  background-color: salmon;
  height: 40px;
  margin: 40px 5px;
  width: 100%;
}
.mic-sub-form select{
    width: 100%;
  }
@media only screen and (min-device-width:200px) and (max-device-width:700px){
  .mic-submit-inner{
    margin: 0 10px;
  }
  .mic-sub-side{
    height: auto;
    width: 100%;
  }
  .mic-sub-main{
    float: top;
    width: 100%;
    padding: 5px;
    margin-top: 30px;
    background-color: #fefefe;
  }
  #mic-date-input{
    width: 100%;
  }
  .mic-sub-form select{
    width: 100%;
  }
}

.mic-list-wrap{
  overflow: auto;
  background-color: #fff;
}
.mic-list-inner{
  margin: 50px 250px;
}
.mic-list-contents{
  width: 100%;
  overflow: auto;
  box-shadow: 3px 3px 10px #666;
  margin: 15px 0;
}
.mic-list-content-title{
  width: 50%;
}
.mic-list-content{
  float: left;
  padding: 10px 15px;
  width: 33%;
}
.mic-list-content-title{
  font-size: 18px;
  font-weight: bold;
}
@media only screen and (min-device-width:200px) and (max-device-width:700px){
  .mic-list-inner{
    margin: 5px;
  }
}
/********** 正規バンド申請画面 **********/


.reg-band-sub-wrapper{
  margin-top: 50px;
  padding: 10px 0;
}
.reg-band-sub-wrapper h1{
  text-align: center;
}
.reg-band-sub-form{
  padding: 10px 0;
  width: 85%;
  margin: auto;
  background-color: rgba(0, 300, 0, 0.2);
}
.reg-band-sub-form table{
  width: 90%;
  margin: auto;

}
.reg-band-sub-form table td{
  padding-top: 5px ;
  padding-bottom: 5px;
}
.reg-band-sub-form input {
  height: 30px;
  width: 230px;
  border:  solid 0.5px gray;
  background-color: rgba(300, 300, 300, 0.5);
  padding: 10px;
  margin-left: 10px;
}
.reg-band-sub-form textarea{
  width: 230px;
  height: 90px;
  background-color: rgba(300, 300, 300, 0.5);
  margin-left: 10px;
}
.caution{
  color: darkred;
  padding: 0 30px;
  font-size: 12px;
  text-align: center;
}
.required-question{
  font-size: 10px;
  color: white;
  text-align: center;
  opacity: 0.7;
  width: 33px;
}
.required-box{
  background-color: rgba(180, 0, 0, 0.8);
  height: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: center;
  width: 100%;
}

.reg-band-form-title{
  width: 200px;
  font-size: 13px;
  text-align: right;
  padding-right: 10px;
}
@media(max-width:600px){
  .reg-band-form-title{
    font-size: 6px;
    width: 85px;
  }
  .reg-band-sub-form table{
    width: 100%;
  }
  .reg-band-sub-form{
    width: 95%;
  }
}
#reg-band-send{
  border-style: none;
  margin: 8px auto;
  background-color: darksalmon;
  height: 40px;
  color: white;
  border-radius: 30px;
}


/********** 企画バンド申請画面 **********/


.temporal-wrapper{
  margin-top: 50px;
  background-color: white;
  overflow: auto;
  text-align: center;
}

.temporal-wrapper h1{
  font-family: "Avenir";
  font-weight: normal;
  color: black;
}
.description-tem{
  font-size: 12px;
}
.temporal-wrapper table{
  padding: 30px 0px;
  margin: auto;
  margin-top: 20px;
  background-color: rgba(100, 100, 100, 0.2);
}
.temporal-wrapper input{
  height: 34px;
  width: 90%;
  border:  solid 1px gray;
  background-color: rgba(300, 300, 300, 0.5);
  padding: 10px;
  margin-left: 15px;
}
.temporal-wrapper select{
  background-color: rgba(300, 300, 300, 0.76);
  width: 90%;
  height: 34px;
  border:  solid 1px gray;
  float: left;
  margin-left: 15px;
  color: darkslategray;
}
.temporal-wrapper .caution{
  float: left;
  text-align: left;
  margin: 0;
}
.tem-send-btn{
  height: 40px;
  width:  300px;
  background-color: salmon;
  padding: 12px;
  margin: 30px auto;
  color: white;
  border-style: none;
}


/********** コメント画面 **********/


.comment-wrapper{
  margin-top: 50px;
  background-color: #fff;
}
.comment-inner{
  margin: 100px 200px;
  overflow: auto;
}
.comment-side{
  width: 300px;
  float: left;
  height: 100%;
}
.comment-side-title{
  font-size: 20px;
  font-weight: bold;
  color: #939;
  padding: 15px 5px;
}
.comment-side-category{
  background-color: #999;
  padding: 5px;
  font-size: 13px;
  font-weight: bold;
}
.comment-side-content{
  padding: 15px 5px;
  border-bottom: solid 1px #666;
}
.comment-side-content:hover{
  color: #939;
}
.comment-main{
  width: 70%;
  float: left;
  overflow: auto;
  padding: 25px;
}
.comment-main h1{
  padding: 5px 15px;
  width: 100%;
}
.com-cof-content{
  width: 100%;
  padding: 5px;
}
.com-cof-input{
  width: 100%;
  height: 50px
}
.com-cof-input textarea{
  height: 200px;
}
.textarea-comcof{
  height: 220px;
}
.comment-main select{
  width: 300px;
}
#com-submit-btn{
  background-color: salmon;
  height: 40px;
  width: 300px;
  -webkit-appearance: none;
  margin: auto;
}
.sent-comment-object{
  font-weight: bold;
  padding: 5px;
}
.sent-comment-content{
  font-size: 13px;
  padding: 5px;
}
@media only screen and (min-device-width:200px) and (max-device-width:700px){
  .comment-inner{
    margin: 5px;

  }
  .comment-side{
    width: 100%;
  }
  .comment-main{
    width: 100%;
    padding: 0;
  }
  .com-cof-input textarea{width:90%}
}


/********** 部屋利用 **********/

.room-wrapper{
  margin-top: 50px;
}
.room-title{
  margin: auto;
  padding-top: 20px;
  text-align: center;
  font-weight: normal;
  color: #66808f;
}
.room-title-box{
  margin: 5px;
  border: solid 8px #66808F;
}
.error-messages{
  color: red;
  border: solid 2px red;
  font-size: 13px;
  padding: 20px 5px;
  margin-top: 10px;
}

.room-about{
  font-size: 13px;
  color: #66808f;
  padding: 20px 0;
}
.room-current{
  border: solid 1px #66808F;
  color: #66808F;
  font-size: 15px;
  padding: 4px;
}
.room-current a{
  display: block;
  float: right;
}
.rcurrent-title{
  padding: 3px 0;
  font-size: 18px;
  font-weight: bold;
}
.room-radio{
  display: none;
}
.room-contents-container{
  margin: 5px;
}
.room-content-wrap{
  overflow: auto;
}
.room-content-title{
  color: #66808F;
  font-size: 13px;
  margin: 15px 0;
  border-bottom:  solid 1px #66808F;
}
.room-content-wrap label{
  display: block;
  height: 40px;
  text-align: center;
  padding: 5px;
  background-color: #66808F;
  color: white;
  width: 49%;
  margin: 1px;
  float: left;
}
.room-radio:checked + label {
  background: #44a0aE;
  color: yellow;
  transition:  100ms ease;
}
#today {
  width: 98.5%;
}
.band-select{
  height: 35px;
  background-color: #44707f;
  color: white;
  font-size: 15px;
}
#room-submit{
  -webkit-appearance: none;
  height: 45px;
  color: white;
  background-color: salmon;
  margin: 15px 2px;
  border: none;
}
