.signup-wrapper{
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  text-align: center;
  color: white;
  overflow: auto;
}
.signup-wrapper h1{
  padding-top:50px;
}

.form-wrapper{
  overflow: auto;
}
.signup-form{
  overflow: auto;
  margin: 16px;
  padding: 16px;
  background-color: #ccc;
  text-align: left;
}
.signup-content{
  background-color: #666;
  color: white;
  padding: 16px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}
.signup-content-small{
  padding: 4px;
  border-bottom: 1px dotted gray;
  color: #000;
  font-size: 12px;
}
.signup-form input:not([type="submit"]){
  margin: 16px 0;
  padding: 16px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
}
.signup-form input:focus{
  background-color: #fff;
  transition: 200ms ease;
}
.signup-form span{
  color: #811;
  padding-left: 16px;
}
.signup-rule{
  padding: 16px;
  color: #911;
  border: dotted 1px;
  font-size: 13px;
}
.signup-btn{
  padding: 16px;
  margin: 16px 0;
  width: 100%;
  color: #fff;
  background-color: salmon;
  font-size: 20px;
}
@media (max-width: 350px){


}



/* ここから show.html.erb */


.user-show-wrapper{
  background-color: sandybrown;
  height: auto;
  z-index: 1;
  margin-top: 50px;
  background-image: url('https://mb.api.cloud.nifty.com/2013-09-01/applications/tZQAF19Rr4FUKnoU/publicFiles/797-700x465のコピー.jpg');
  background-size: cover;
}
.user-show-higher-wrapper{
  z-index: 2;
}
.user-title{
  text-align: left;
  font-weight: bold;
  font-family: "Avenir";
  padding: 16px;
  padding-top: 40px;
  font-size: 70px;
  overflow: hidden;
  color: white;
}
.user-sub-title{
  text-align: center;
  font-size: 20px;
  color: white;
}
.user-show-box{
  border: 1px solid ;
  height: auto;
  padding: 16px;
  margin: 20px;
  background-color: #333;
  color: #fff;
}
.user-show-image{
  width: 100px;
  height: 100%;
  background-image: url('manicon.png');
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}
.user-show-content{
  text-align: left;
}
.user-show-logout{
  padding: 8px;
  margin-top: 8px;
  border: solid 5px darksalmon;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
}
.user-show-logout:hover{
  background-color: white;
  transition: 200ms ease;
}
.user-show-logout:active{
  background-color: darksalmon;
  color: white;
  transition: 100ms ease;
}
.logout-link{
  color: #000;
  font-weight: bold;
}
.user-show-content-name{
  font-size: 20px;
  text-align: left;
}

.user-show-informations{
  margin: auto;
  font-size: 14px;
  text-align: center;
}

.user-menu-wrapper{
  margin: 0 16px;
  height: auto;
  padding-bottom: 16px;
}
.user-menu-title{
  font-size: 30px;
  font-family: "Hiragino Kaku Gothic ProN";
  font-weight: lighter;
  color: white;
  padding-left: 30px;
}
.user-menu-content{
  overflow: auto;
  padding: 16px;
  margin: 8px;
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
  border: solid 4px rgba(0,0,0,0.5);
  border-radius: 8px;
  font-weight: bold;
}
.user-menu-content:hover{
  background-color: rgba(255, 255, 255, 0.9);
  transition: 300ms ease;
}
.user-menu-content:active{
  background-color: rgba(255, 255, 255, 1);
  transition: 100ms ease;
}
.menu-content-img{
  width: 80px;
  height: 90%;
  float: left;
}
.menu-content-title{
  font-size: 22px;
  opacity: 0.65;
}
.menu-content-description{
  font-size: 12px;
  opacity: 0.6;
}
.notice-title{
  border-bottom: solid 1px ;
  margin-bottom: 20px;
}
.notice-wrapper{
  color: white;
  margin: 20px;
}
.notice-content{
  padding: 5px 40px;
  font-size: 14px;
  font-weight: lighter;
  background-color: rgba(4,4,4,0.2);
}
.edit-title{
  margin-top: 55px;
  width: 100%;
  background-color: #555;
  color: #fff;
  font-weight: bold;
  padding: 16px;
  font-size: 16px;
}
.edit-inner{
  margin: 16px;
}
.edit-form-content{
  padding: 8px;
  font-size: 13px;
  border-bottom: dotted 1px #aaa;
}
.edit-inner input{
  padding: 8px;
  height: 40px;
  width: 100%;
  margin-top: 8px;
  border: none;
  background-color: #dddddd;
}
.edit-inner input[type="submit"]{
  color: #fff;
  background-color: salmon;
}
.edit-error-display{
  padding: 16px;
  color: #a00;
  border: dotted 1px;
}
